{% load i18n static %}

<nav role="navigation">
    <div id="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <a href="{% url 'index' %}">
                <li>{% trans "Home" %}</li>
            </a>

            {% if user.is_authenticated %}
                <a href="{% url 'books' %}">
                    <li>{% trans "My Books" %}</li>
                </a>
                {% if books %}
                    <a href="{% url 'dashboard' %}">
                        <li>{% trans "Dashboard" %}</li>
                    </a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}">
                    <li>{% trans "Log in" %}</li>
                </a>
                <a href="{% url 'signup' %}">
                    <li>{% trans "Sign up" %}</li>
                </a>
            {% endif %}

            <a href="{% url 'about' %}">
                <li>{% trans "About us" %}</li>
            </a>

            <a href="https://donatello.to/BookWorms" rel="nofollow" target="_blank"
               title="{% trans 'Donate us a cup of coffee' %}">
              <li>{% trans "Donate" %}
                <img src="{% static 'img/utils/coffee.svg' %}" width="20" height="20"
                   alt="{% trans 'Donate' %}">
              </li>
            </a>

            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <li>{% trans "Logout" %}</li>
                </a>
            {% endif %}
        </ul>
    </div>
</nav>