{% load i18n %}

<header>
    <div class="formHeader">
        {% include 'header/logo.html' %}
        <div class="formHeaderToDo">
            {% if type == 'login' %}
                <p>{% trans "Don't have an account?" %}</p>
                <a href="{% url 'signup' %}" class="btn-firm btn-normal btn-l btn-violet w-auto">{% trans "Sing up" %}</a>
            {% elif type == 'signup' %}
                <p>{% trans "Have an account?" %}</p>
                <a href="{% url 'login' %}" class="btn-firm btn-normal btn-l btn-violet w-auto">{% trans "Log in" %}</a>
            {% endif %}
        </div>
    </div>
</header>