
{% load static %}
{% load i18n %}

<header>
    <div class="headerScrollLine">
      <span class="line"></span>
    </div>
    <div class="headerWrap">
        <div class="headerLogo p-rel">
            {% include 'header/logo.html' %}
            {% include "header/language-btn.html" %}
        </div>

        <nav class="headerNav">
            <a href="{% url 'index' %}" class="headerNavLink">{% trans "Home" %}</a>
            <a href="{% url 'books' %}" class="headerNavLink">{% trans "My Books" %}</a>
            {% if books and user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="headerNavLink">
                    {% if request.GET.signal %}
                        <span class="click-here">
                            <span class="second"></span>
                            <span class="third"></span>
                            <span class="fourth"></span>
                        </span>
                    {% endif %}
                    {% trans "Dashboard" %}</a>
              {% endif %}
            <a href="{% url 'about' %}" class="headerNavLink">{% trans "About Us" %}</a>
            <a href="https://donatello.to/BookWorms" rel="nofollow" target="_blank"
               class="headerNavLink donate" title="{% trans 'Donate us a cup of coffee' %}">{% trans "Donate" %}
              <img src="{% static 'img/utils/coffee.svg' %}" width="20" height="20"
                   alt="{% trans 'Donate' %}">
            </a>
        </nav>

        <div class="headerToDo">
            {% if user.is_authenticated %}
                {% if user.profile.avatar %}
                  <div title="{{ user.username }}" class="headerAvaUser"
                       style="background-image: url('{{ user.profile.avatar }}')"></div>
                {% elif user.email %}
                    <div title="{{ user.email }}" class="headerAvaUser"><span>{{ user.email.0 }}</span></div>
                {% else %}
                    <div title="{{ user.username }}" class="headerAvaUser"><span>{{ user.username.0 }}</span></div>
                {% endif %}
                <a href="{% url 'logout' %}" class="headerLogout">{% trans "Logout" %}</a>
            {% else %}
                <a href="{% url 'login' %}" class="headerLogin">{% trans "Log in" %}</a>
                <a href="{% url 'signup' %}" class="btn btn-normal btn-l btn-midnightblue w-auto">{% trans "Sing Up" %}</a>
            {% endif %}
        </div>
    </div>
    <!--BURGER END-->
    {% include 'header/burger-menu.html' %}
    <!--BURGER END-->
</header>