{% load i18n %}

<div class="headerLanguageButton">
    {#    {% ifequal LANGUAGE_CODE "uk" %}#}
    {#        <a href="{% url 'set_language_from_url' user_language='en' %}" class="right">En</a>#}
    {#    {% else %}#}
    {#        <a href="{% url 'set_language_from_url' user_language='uk' %}" class="left">Uk</a>#}
    {#    {% endifequal %}#}
    {% get_language_info_list for LANGUAGES as languages %}

    {% if languages|length > 1 %}
        <form action="{% url "set_language" %}" method="post">
            {% csrf_token %}
            <select name="language" class="small" onchange="this.form.submit()">
                {% for language in languages %}
                    <option value="{{ language.code }}"
                            {% if language.code == LANGUAGE_CODE %}selected="selected"{% endif %}>

                        {{ language.name_local }}
                    </option>
                {% endfor %}
            </select>
        </form>
    {% endif %}
</div>