{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    <title>My books | About Us</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/about.css' %}">
{% endblock %}

{% block content %}
    <div class="rocketman">
        {% include 'about/section/rocketman.html' %}
    </div>

    <section class="aboutSection">
        <!-- Messages -->
        {% if messages %}
            {% for message in messages %}
                {% if  message.tags == 'success' %}
                    <div role="alert" class="alert alert-success">
                        <div class="message">{{ message|safe }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- End Messages -->

        <div class="container fix-width">
            <div class="aboutText">
                <div class="aboutTextBox">
                    <h2 class="h4">{% trans 'Our history' %}</h2>
                    <p>{% trans 'After spending a long time searching for a resource for statistics to read and not finding what it would berather, came up with the idea to create' %}
                        <b>BookWorms</b>.
                        {% trans 'A place to watch your book progress, make your own must read list or take participation in fierce' %}
                    </p>
                </div>
                <div class="aboutTextBox">
                    <h2 class="h4">{% trans 'Our goal' %}</h2>
                    <p>- {% trans 'Creating a comfortable and easy-to-use resource that tracks your progress' %}</p>
                    <p>- {% trans 'Creating a friendly community of readers' %}</p>
                    <p>- {% trans 'Book promotion' %}</p>
                </div>
                <div class="aboutTextBox">
                    <h2 class="h4">{% trans 'Future plans' %}</h2>
                    <p>- {% trans 'Annual and quarterly' %} <b>read challenge</b></p>
                    <p>- {% trans 'Personal' %} <b>must read</b> {% trans 'list' %}</p>
                    <p>- {% trans 'Personal rewards page' %}</p>
                    <p>- {% trans 'User rating' %}</p>
                </div>
            </div>
            <div class="aboutFeedback">
                <h2 class="aboutFeedbackTitle">{% trans 'Your opinion is important to us' %}</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.message }}
                    <button type="submit" class="btn-midnightblue btn-normal btn-xl top-20">{% trans "Send" %}</button>
                </form>
            </div>
        </div>
    </section>
    {% include 'books/section/particles.html' with one_section=False %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js"></script>
    <script src="{% static 'js/rocketman.js' %}"></script>
{% endblock %}