{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    <title>Book Worms | Login</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/registration.css' %}">
{% endblock %}

{% block header %}
  {% include 'header/header_unlogin.html' with type='login' %}
{% endblock %}

{% block content %}
    <section class="formSection">
        <div class="formBg" style="background: url({% static 'img/registration/registration_fon.jpg' %})">
            <p class="formBgText">“Books are the perfect entertainment: no commercials, no batteries, hours of enjoyment
                for each dollar spent. What I wonder is why everybody doesn't carry a book around for those inevitable
                dead spots in life.”
                ― <b>Stephen King</b></p>
        </div>

        <div class="container fix-width-form">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="formBox">
                        {{ field.label_tag }}
                        {{ field }}

                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn-firm btn-normal btn-xl btn-midnightblue">{% trans "Log in" %}</button>
                <div class="formOr">
                    <hr><span>or</span><hr>
                </div>
                <div class="formSocial">
                    <a class="btn-firm btn-normal btn-normal-img btn-xl btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
                        <span>{% trans "Login with" %}</span>
                        <img src="{% static 'img/social/g.svg' %}" alt="">
                    </a>
                </div>
                <a class="btn-firm btn-normal btn-normal-img btn-xl btn-fb" href="{% url 'social:begin' 'facebook' %}">
                    <span>{% trans "Login with" %}</span>
                    <img src="{% static 'img/social/fb.svg' %}" alt="">
                </a>
            </form>
        </div>
    </section>
{% endblock %}
