{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    <title>Book Worms | Sign Up</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/registration.css' %}">
{% endblock %}

{% block header %}
  {% include 'header/header_unlogin.html' with type='signup' %}
{% endblock %}

{% block content %}
    <section class="formSection">
        <div class="formBg" style="background: url({% static 'img/registration/registration_fon.jpg' %})">
            <p class="formBgText">“Books are the perfect entertainment: no commercials, no batteries, hours of enjoyment
                for each dollar spent. What I wonder is why everybody doesn't carry a book around for those inevitable
                dead spots in life.”
                ― <b>Stephen King</b></p>
        </div>

        <div class="container fix-width-form">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="formBox">
                        {{ field.label_tag }}
                        {{ field }}
                        {#{% if field.help_text %}#}
                        {#<small style="color: grey">{{ field.help_text }}</small>#}
                        {#{% endif %}#}
                        {% for error in field.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn-firm btn-normal btn-xl btn-midnightblue">{% trans "Sign up" %}</button>
            </form>
        </div>
    </section>
{% endblock %}