{% extends 'base.html' %}

{% load static %}
{% load template_filters %}
{% load i18n %}

{% block title %}
    <title>Book Worms | My Books</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/books.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'less/plugin/datepicker.min.css' %}">
{% endblock %}

{% block content %}
    <section class="booksListSection">
        <!-- Messages -->
        {% if messages %}
            {% for message in messages %}
                {% if  message.tags == 'success' %}
                    <div role="alert" class="alert alert-success">
                        <div class="message">{{ message|safe }}</div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <!-- End Messages -->

        <div class="container fix-width">
            <div class="booksListTable top bottom-60">
                <form method="POST">{% csrf_token %}
                    <div class="booksListErrorsBlock">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                  {{ field.label }}
                                  <span>{{ error|escape }}</span>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                 <span>{{ error|escape }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="booksListRowAdd">
                      <div class="booksListRowAddStep one">
                        <span>{{ form.name }}</span>
                        <span>{{ form.author }}</span>
                        <span><input type="number" name="num_pages" placeholder="{% trans "Pages*" %}" required=""
                                     id="id_num_pages"></span>
                        <span>{{ form.date }}</span>
                        <span>{{ form.type_of_book }}</span>
                        <span>{{ form.favorite_rank }}</span>
                        <a class="btn-green btn-normal btn-green btn-xl w-auto t-a-center" id="next-step-btn">{% trans "Next" %}</a>
                      </div>
                      <div class="booksListRowAddStep two">
                        <span>{{ form.review }}</span>
                        <a class="btn-green btn-normal btn-green btn-xl w-auto t-a-center right-15" id="back-step-btn">{% trans "Back" %}</a>
                        <button type="submit" class="btn-violet btn-normal btn-midnightblue btn-xl">{% trans "Add" %}</button>
                      </div>
                    </div>
                </form>
            </div>

            <div class="flex-row-center-center">
                {% if years|length > 1 %}
                    <ul class="years">
                        <li>{% trans "Please check your year: " %}</li>
                        <li><a href="?year=all" {% if not current_year|is_numeric %}class="active"{% endif %}>
                          {% trans "All books" %}</a></li>
                        {% for year in years %}
                            {% if year == current_year %}
                                <li><a href="?year={{ year }}" class="active">{{ year }}</a></li>
                            {% else %}
                                <li><a href="?year={{ year }}">{{ year }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="booksListTable">
                {% if books %}
                    <div class="booksListHead row">
                        <div class="col-2 col-xl-3">
                            <a href="?order_by=name&year={{ current_year }}">
                                <img src="{% static 'img/direction.svg' %}">
                                <span>{% trans "Name" %}</span>
                            </a>
                        </div>
                        <div class="col-2 col-xl-3">
                            <a href="?order_by=author&year={{ current_year }}">
                                <img src="{% static 'img/direction.svg' %}">
                                <span>{% trans "Author" %}</span>
                            </a>
                        </div>
                        <div class="col-2 col-xl-3">
                            <a href="?order_by=-num_pages&year={{ current_year }}">
                                <img src="{% static 'img/direction.svg' %}">
                                <span>{% trans "Pages" %}</span>
                            </a>
                        </div>
                        <div class="col-2 col-xl-3">
                            <a href="?order_by=-date&year={{ current_year }}">
                                <img src="{% static 'img/direction.svg' %}">
                                <span>{% trans "Date" %}</span>
                            </a>
                        </div>
                        <div class="col-2">
                            <a href="?order_by=-favorite_rank&year={{ current_year }}">
                                <img src="{% static 'img/direction.svg' %}">
                                <span>{% trans "Rating" %}</span>
                            </a>
                        </div>
                    </div>
                    <div class="booksListBody">
                        {% for book in books %}
                            <div class="booksListRowShow row">
                                <b class="booksListRowShowCounter">{{ forloop.revcounter }}</b>
{#                                {{ forloop.revcounter0|add:books.start_index }}#}
                                <div class="col-2 col-xl-3">
                                    <span class="booksListRowShowName">{{ book.name }}</span>
                                </div>
                                <div class="col-2 col-xl-3">
                                    <span class="booksListRowShowAuthor">{{ book.author }}</span>
                                </div>
                                <div class="col-2 col-xl-3"><span>{{ book.num_pages }}</span></div>
                                <div class="col-2 col-xl-3"><span>{{ book.date|date:'c' }}</span></div>
                                <div class="col-2 col-xl-12 booksListRowShowRattingComment">
                                    {#get item return val in dict book.get(name)#}
                                    {#and then list_rating|name#}
                                    <div class="ratting">
                                      {% for i in book_list_rating_by_user|get_item:book.name %}
                                          <img src="{% static 'img/star.svg' %}" class="booksListRowShowStars"
                                               title="{{ book.get_favorite_rank_display }}">
                                      {% endfor %}
                                    </div>

                                    <div class="flex-row-center">
                                        <img src="{% static 'img/utils/books' %}/{{ book.type_of_book }}.svg"
                                             alt="{{ book.get_type_of_book_display }}" title="{{ book.get_type_of_book_display }}">

                                        {% if book.review %}
                                            <span class="comment" style='-webkit-mask: url("{% static 'img/comment.svg' %}") center center'></span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="booksListRowShowTools col-2 col-xl-12">
                                    <a href="{% url 'book-edit' book.id %}"
                                       class="btn-yellow btn-normal btn-square right-15 flex" title="{% trans "Edit" %}">
                                      <img src="{% static 'img/edit.svg' %}" alt="" width="100%"></a>
                                    <a href="{% url 'book-delete' book.id %}"
                                       class="btn-darkred btn-normal btn-square btn-delete flex" title="{% trans "Delete" %}">
                                        <img src="{% static 'img/bucket.svg' %}" alt="" width="100%"></a>
                                </div>

                                {% if book.review %}
                                    <p class="booksListRowShowComment col-12">{{ book.review }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

{#                    <div class="pagination">#}
{#                        <span class="step-links">#}
{#                            {% if books.has_previous %}#}
{#                                <a href="?page={{ books.previous_page_number }}&year={{ current_year }}" class="paginator prev">Prev</a>#}
{#                            {% else %}#}
{#                                <a href="" class="paginator prev disable">Prev</a>#}
{#                            {% endif %}#}
{##}
{#                            {% for page in books.paginator.page_range %}#}
{#                                <a href="?page={{ page }}&year={{ current_year }}" class="paginator#}
{#                                    {% if books.number == page %}active{% endif %}">{{ page }}</a>#}
{#                            {% endfor %}#}
{##}
{#                            {% if books.has_next %} {{ request.year }}#}
{#                                <a href="?page={{ books.next_page_number }}&year={{ current_year }}" class="paginator next">Next</a>#}
{#                            {% else %}#}
{#                                <a href="" class="paginator next disable">Next</a>#}
{#                            {% endif %}#}
{#                        </span>#}
{#                    </div>#}

                {% else %}
                    <div class="booksListNone">
                        <p class="h3">{% trans "Actually you aren't having book right now :(" %}</p>
                    </div>
                {% endif %}
            </div>

        </div>
    </section>

    {% include 'books/section/particles.html' with one_section=False %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/plugin/datepicker/datepicker.min.js' %}"></script>
    <script src="{% static 'js/books.js' %}"></script>
{% endblock %}