{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    <title>My books | Edit | {{ book.author }}, {{ book.name }}</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/books.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'less/plugin/datepicker.min.css' %}">
{% endblock %}

{% block content %}
    <section class="booksListSection">
        <div class="container fix-width">
            <div class="booksListTable">
                <form method="POST">
                    {% csrf_token %}
                    <div class="booksListRowAdd">
                        <div class="booksListRowAddStep one edit">
                            <span>{{ form.name }}</span>
                            <span>{{ form.author }}</span>
                            <span>{{ form.num_pages }}</span>
                            <span>{{ form.date }}</span>
                            <span>{{ form.type_of_book }}</span>
                            <span class="right-0-p">{{ form.favorite_rank }}</span>
                        </div>
                    </div>

                    <div class="booksListRowAdd dsp-block top-15">
                      {{ form.review }}
                      <button type="submit" class="btn-yellow btn-normal btn-xl top-15 w-100">{% trans "Save" %}</button>
                    </div>
                </form>

            </div>
        </div>
    </section>

    {% include 'books/section/particles.html' with one_section=False %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/plugin/datepicker/datepicker.min.js' %}"></script>
    <script src="{% static 'js/books.js' %}"></script>
{% endblock %}