#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}
.booksListSection {
  background: #161616;
  min-height: 100vh;
  padding: 146px 0 60px;
  color: #ffffff;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
@media (max-width: 640px) {
  .booksListSection {
    padding-top: 126px;
  }
}
.booksListBadUrl {
  text-decoration: underline;
}
/*# sourceMappingURL=404.css.map */