@import url('common/locals-var.less');
@import url('common/miksins.less');
@import url('plugin/particles.less');

.booksList {
  &Section {
    background: @firm-color;
    min-height: 100vh;
    padding: 146px 0 60px;
    color: @white;
    .flex-row-center-center();
    .t-a-center();
    @media (max-width: @mobXL) {
      padding-top: 126px;
    }
  }
  &BadUrl {
    text-decoration: underline;
  }
}