@import url('common/locals-var.less');
@import url('common/miksins.less');
@import url('plugin/particles.less');

.about {
  &Section {
    background: @firm-color;
    padding: 146px 0 90px;
    min-height: 100vh;
    color: @white;
    @media (max-width: @mobXL) {
      padding-top: 106px;
    }
  }
  &Text {
    .flex-row-between();
    margin-bottom: 90px;
    @media (max-width: 1240px) {
      .flex-wrap();
      justify-content: center;
    }
    @media (max-width: @plXS) {
      flex-direction: column;
    }
    &Box {
      width: 26%;
      padding: 20px 0;
      position: relative;
      z-index: 1;
      .t-a-center();
      .flex-column-center-center();
      background: rgba(69, 38, 209, 0.35);
      transform: scale(1);
      transition: .2s all ease-out;
      &:hover {
        transform: scale(1.05);
        p {
          transform: scale(.88);
        }
      }
      @media (max-width: 1240px) {
        width: 34%;
        margin-bottom: 60px;
        &:nth-of-type(1) {
          margin-right: 60px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
      .media-width(@plXL, 37%);
      .media-width(860px, 40%);
      .media-width(@plXS, 100%);
      .media-m-r(@plXS, 0);
      .media-pad(@plXS, 20px, 20px);
      h2 {
        padding-bottom: 20px;
      }
      p {
        line-height: 25px;
        font-size: 15px;
        margin-bottom: 10px;
        transform: scale(1);
        transition: .2s all ease-out;
        width: 114%;
        .media-width(@plXS, 100%);
      }
    }
  }
  &Feedback {
    width: 65%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    .t-a-center();
    .media-width(@plXL, 100%);
    textarea {
      margin-top: 20px;
      background: transparent;
      color: @white;
    }
    &Title {
      font-size: 28px;
      font-weight: 400;
    }
  }
}

.rocketman {
  width: 220px;
  position: fixed;
  bottom: 0;
  right: 0;
  .media-display(@plXS, none);
}
