#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}
.aboutSection {
  background: #161616;
  padding: 146px 0 90px;
  min-height: 100vh;
  color: #ffffff;
}
@media (max-width: 640px) {
  .aboutSection {
    padding-top: 106px;
  }
}
.aboutText {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
@media (max-width: 1240px) {
  .aboutText {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .aboutText {
    flex-direction: column;
  }
}
.aboutTextBox {
  width: 26%;
  padding: 20px 0;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(69, 38, 209, 0.35);
  transform: scale(1);
  transition: 0.2s all ease-out;
}
.aboutTextBox:hover {
  transform: scale(1.05);
}
.aboutTextBox:hover p {
  transform: scale(0.88);
}
@media (max-width: 1240px) {
  .aboutTextBox {
    width: 34%;
    margin-bottom: 60px;
  }
  .aboutTextBox:nth-of-type(1) {
    margin-right: 60px;
  }
  .aboutTextBox:last-of-type {
    margin-bottom: 0;
  }
}
@media (max-width: 1023px) {
  .aboutTextBox {
    width: 37%;
  }
}
@media (max-width: 860px) {
  .aboutTextBox {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .aboutTextBox {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .aboutTextBox {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .aboutTextBox {
    padding: 20px 20px;
  }
}
.aboutTextBox h2 {
  padding-bottom: 20px;
}
.aboutTextBox p {
  line-height: 25px;
  font-size: 15px;
  margin-bottom: 10px;
  transform: scale(1);
  transition: 0.2s all ease-out;
  width: 114%;
}
@media (max-width: 768px) {
  .aboutTextBox p {
    width: 100%;
  }
}
.aboutFeedback {
  width: 65%;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1023px) {
  .aboutFeedback {
    width: 100%;
  }
}
.aboutFeedback textarea {
  margin-top: 20px;
  background: transparent;
  color: #ffffff;
}
.aboutFeedbackTitle {
  font-size: 28px;
  font-weight: 400;
}
.rocketman {
  width: 220px;
  position: fixed;
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  .rocketman {
    display: none;
  }
}
/*# sourceMappingURL=about.css.map */