#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}
.booksListTable.top {
  position: relative;
  z-index: 2;
}
.booksListErrorsBlock {
  margin-bottom: 5px;
  color: #FC4B4E;
}
.booksListSection {
  background: #161616;
  min-height: 100vh;
  padding: 146px 0 60px;
}
@media (max-width: 640px) {
  .booksListSection {
    padding-top: 106px;
  }
}
.booksListNone {
  text-align: center;
  color: #ffffff;
}
.booksListHead {
  padding: 0 15px 10px;
  color: white;
  position: relative;
  z-index: 1;
}
@media (max-width: 1023px) {
  .booksListHead {
    font-size: 12px;
  }
}
@media (max-width: 1023px) {
  .booksListHead .col-xl-2,
  .booksListHead .col-xl-3,
  .booksListHead .col-xl-12 {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (max-width: 1023px) {
  .booksListHead .col-2:last-child {
    display: none;
  }
}
.booksListHead img {
  margin-top: -1px;
}
@media (max-width: 1023px) {
  .booksListHead img {
    margin-top: -3px;
  }
}
@media (max-width: 768px) {
  .booksListHead img {
    display: none;
  }
}
.booksListHead a {
  transition: 0.2s opacity;
}
.booksListHead a:hover {
  opacity: 0.8;
}
.booksListBody {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
@media (max-width: 1023px) {
  .booksListBody .col-2:nth-child(6) {
    margin-top: 15px;
  }
}
.booksListRowAdd,
.booksListRowShow {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 11px 15px;
  margin-bottom: 1px;
  word-wrap: break-word;
}
.booksListRowAdd span,
.booksListRowShow span {
  line-height: 19px;
}
@media (max-width: 1023px) {
  .booksListRowAdd,
  .booksListRowShow {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  .booksListRowAdd,
  .booksListRowShow {
    align-items: flex-start;
  }
}
.booksListRowAdd:last-child,
.booksListRowShow:last-child {
  margin-bottom: 0;
}
.booksListRowAdd {
  background: #7e23cb;
  border-radius: 4px;
  z-index: 3;
  flex-wrap: nowrap;
}
.booksListRowAdd:nth-of-type(2) {
  z-index: 1;
}
@media (max-width: 1023px) {
  .booksListRowAdd {
    padding: 10px 10px;
  }
}
.booksListRowAdd button {
  width: auto;
}
@media (max-width: 1023px) {
  .booksListRowAdd button,
  .booksListRowAdd a {
    width: 100% !important;
  }
  .booksListRowAdd #back-step-btn {
    margin: 15px 0 !important;
  }
}
.booksListRowAdd span {
  padding-right: 15px;
  width: 100%;
}
@media (max-width: 1023px) {
  .booksListRowAdd span {
    padding-right: 0;
  }
}
.booksListRowAdd input,
.booksListRowAdd .nice-select {
  border: 0;
}
@media (max-width: 1023px) {
  .booksListRowAdd input,
  .booksListRowAdd .nice-select {
    margin-bottom: 10px;
  }
}
.booksListRowAddStep {
  display: flex;
  transition: 1s all;
  height: min-content;
}
@media (max-width: 1023px) {
  .booksListRowAddStep {
    flex-direction: column;
  }
}
.booksListRowAddStep.one {
  transform: translateX(0);
  width: 100%;
  opacity: 1;
}
@media (max-width: 1023px) {
  .booksListRowAddStep.one {
    height: 410px;
  }
}
.booksListRowAddStep.one.next {
  opacity: 0;
  width: 0;
  transform: translateX(-100%);
}
@media (max-width: 1023px) {
  .booksListRowAddStep.one.next {
    height: 0;
  }
}
@media (max-width: 1023px) {
  .booksListRowAddStep.one.edit {
    height: 100%;
  }
}
.booksListRowAddStep.two {
  transform: translateX(100%);
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}
.booksListRowAddStep.two.next {
  align-items: flex-end;
  transform: translateX(0);
  width: 100%;
  height: 155px;
  opacity: 1;
  pointer-events: auto;
}
@media (max-width: 768px) {
  .booksListRowAddStep.two.next {
    height: 100%;
  }
}
.booksListRowShow {
  background: rgba(234, 227, 110, 0.94);
  z-index: 1;
}
@media (max-width: 1023px) {
  .booksListRowShow .col-xl-2,
  .booksListRowShow .col-xl-3,
  .booksListRowShow .col-xl-12 {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.booksListRowShowTools {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1023px) {
  .booksListRowShowTools {
    margin-top: 15px;
    order: 3;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .booksListRowShowTools .btn-xl {
    padding: 11.5px 18px;
  }
}
.booksListRowShowCounter {
  position: absolute;
  top: 0;
  left: 10px;
  background: #7e23cb;
  color: white;
  font-size: 10px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 17px;
  height: 17px !important;
  border-radius: 0 100px 1000px;
}
.booksListRowShowStars {
  width: 13px;
}
@media (max-width: 1023px) {
  .booksListRowShowStars {
    width: 10px;
  }
}
.booksListRowShowComment {
  overflow: hidden;
  line-height: 0;
  opacity: 0;
  font-size: 14px;
  transition: 0.3s ease-in all;
  font-style: italic;
  border: 0;
}
.booksListRowShowComment.open {
  line-height: 1.4;
  opacity: 1;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #ffffff;
}
@media (max-width: 1023px) {
  .booksListRowShowComment.open {
    padding-bottom: 15px;
    border-bottom: 1px solid #ffffff;
  }
}
.booksListRowShowRattingComment {
  flex-direction: row;
  display: flex;
  align-items: center;
}
.booksListRowShowRattingComment .ratting {
  margin-right: 15px;
  width: 87px;
}
.booksListRowShowRattingComment .comment {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-mask-size: 50% 50%;
}
.booksListRowShowRattingComment .comment:hover,
.booksListRowShowRattingComment .comment:focus {
  background: #651ca3;
}
@media (max-width: 1023px) {
  .booksListRowShowRattingComment {
    justify-content: space-between;
  }
}
.booksListRowShow .btn-xl {
  margin-right: 15px;
}
.booksListRowShow .btn-xl:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=books.css.map */