@import url('common/locals-var.less');
@import url('common/miksins.less');
@import url('plugin/particles.less');

.booksList {
  &Table.top{
    position: relative;
    z-index: 2;
  }
  &ErrorsBlock{
    margin-bottom: 5px;
    color: @error;
  }
  &Section {
    background: @firm-color;
    min-height: 100vh;
    padding: 146px 0 60px;
    @media (max-width: @mobXL) {
      padding-top: 106px;
    }
  }
  &None {
    .t-a-center();
    color: @white;
  }
  &Head {
    padding: 0 15px 10px;
    color: white;
    position: relative;
    z-index: 1;
    .media-font(@plXL, 12px);
    @media (max-width: @plXL) {
      .col-xl-2,
      .col-xl-3,
      .col-xl-12 {
        padding-left: 6px;
        padding-right: 6px;
      }
    }
    .col-2:last-child{
      .media-display(@plXL, none);
    }
    img {
      margin-top: -1px;
      .media-m-t(@plXL, -3px);
      .media-display(@plXS, none);
    }
    a {
      .hover-standart();
    }
  }
  &Body {
    border-radius: @border;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .col-2:nth-child(6){
      .media-m-t(@plXL, 15px);
    }
  }
  &RowAdd,
  &RowShow {
    .flex-row-between-center();
    position: relative;
    padding: 11px 15px;
    margin-bottom: 1px;
    word-wrap: break-word;
    span {
      line-height: 19px;
    }
    .media-font(@plXL, 14px);
    @media (max-width: @plXL) {
      align-items: flex-start;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &RowAdd {
    background: @purple-hover;
    border-radius: @border;
    z-index: 3;
    flex-wrap: nowrap;
    &:nth-of-type(2){
      z-index: 1;
    }
    .media-pad(@plXL, 10px, 10px);
    button {
      width: auto;
    }
    @media (max-width: @plXL) {
      button, a {
        width: 100% !important;
      }
      #back-step-btn{
        margin: 15px 0 !important;
      }
    }
    span {
      padding-right: 15px;
      width: 100%;
      @media (max-width: @plXL) {
        padding-right: 0;
      }
    }
    input,
    .nice-select {
      border: 0;
      @media (max-width: @plXL) {
        margin-bottom: 10px;
      }
    }
    &Step{
      display: flex;
      transition: 1s all;
      height: min-content;
      @media (max-width: @plXL) {
        flex-direction: column;
      }
      &.one{
        transform: translateX(0);
        width: 100%;
        opacity: 1;
        .media-height(@plXL, 410px);
        &.next{
          opacity: 0;
          width: 0;
          transform: translateX(-100%);
          .media-height(@plXL, 0);
        }
      }
      &.one.edit{
        .media-height(@plXL, 100%);
      }
      &.two{
        transform: translateX(100%);
        width: 0;
        height: 0;
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
        &.next{
          align-items: flex-end;
          transform: translateX(0);
          width: 100%;
          height: 155px;
          opacity: 1;
          pointer-events: auto;
          .media-height(@plXS, 100%);
        }
      }
    }
  }
  &RowShow {
    background: rgba(234, 227, 110, 0.94);
    z-index: 1;
    @media (max-width: @plXL) {
      .col-xl-2,
      .col-xl-3,
      .col-xl-12 {
        padding-left: 6px;
        padding-right: 6px;
      }
    }
    &Tools {
      .flex-row-end();
      @media (max-width: @plXL) {
        margin-top: 15px;
        order: 3;
        .flex-row-between();
      }
      .btn-xl {
        @media (max-width: @mobXS) {
          padding: 11.5px 18px;
        }
      }
    }
    &Counter {
      position: absolute;
      top: 0;
      left: 10px;
      background: @purple-hover;
      color: white;
      font-size: 10px;
      .flex-row-center-center();
      width: 17px;
      height: 17px !important;
      border-radius: 0 100px 1000px;
    }
    &Stars {
      width: 13px;
      .media-width(@plXL, 10px);
    }
    &Comment{
      overflow: hidden;
      line-height: 0;
      opacity: 0;
      font-size: 14px;
      transition: .3s ease-in all;
      font-style: italic;
      border: 0;
      &.open{
        line-height: 1.4;
        opacity: 1;
        padding-top: 15px;
        margin-top: 15px;
        border-top: @solid @white;
        @media(max-width: @plXL){
          padding-bottom: 15px;
          border-bottom: @solid @white;
        }
      }
    }
    &RattingComment{
      .flex-row-center();
      .ratting{
        margin-right: 15px;
        width: 87px;
      }
      .comment {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-left: 15px;
        background: @white;
        cursor: pointer;
        -webkit-mask-size: 50% 50%;
        &:hover, &:focus {
          background: @purple;
        }
      }
      @media(max-width: @plXL){
        justify-content: space-between;
      }
    }
    .btn-xl {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}