#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}
.dashboardSection {
  background: #161616;
  padding: 146px 0 20px;
  min-height: 100vh;
}
@media (max-width: 640px) {
  .dashboardSection {
    padding-top: 106px;
  }
}
.dashboardNumbers {
  display: flex !important;
  justify-content: space-around;
  margin-bottom: 40px;
  color: #ffffff;
}
@media (max-width: 480px) {
  .dashboardNumbers {
    flex-direction: column;
    align-items: center;
  }
}
.dashboardNumberBooks,
.dashboardNumberPages {
  display: flex !important;
  position: relative;
  z-index: 2;
}
.dashboardNumberBooks p,
.dashboardNumberPages p {
  max-width: 50px;
  margin-left: 10px;
}
@media (max-width: 480px) {
  .dashboardNumberBooks {
    margin-bottom: 20px;
  }
}
.dashboardPieContainer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}
.dashboardLineContainer {
  position: relative;
  z-index: 2;
}
.dashboardLineChart {
  margin-bottom: 40px;
}
.dashboardPieChart {
  width: 50%;
}
@media (max-width: 640px) {
  .dashboardPieChart {
    width: 100%;
  }
  .dashboardPieChart:first-of-type {
    margin-bottom: 40px;
  }
}
/*# sourceMappingURL=dashboard.css.map */