@import url('common/locals-var.less');
@import url('common/miksins.less');
@import url('plugin/particles.less');

.dashboard {
  &Section {
    background: @firm-color;
    padding: 146px 0 20px;
    min-height: 100vh;
    @media (max-width: @mobXL) {
      padding-top: 106px;
    }
  }
  &Numbers {
    .flex();
    justify-content: space-around;
    margin-bottom: 40px;
    color: @white;
    @media (max-width: @mobXS) {
      flex-direction: column;
      align-items: center;
    }
  }
  &NumberBooks,
  &NumberPages {
    .flex();
    position: relative;
    z-index: 2;
    p {
      max-width: 50px;
      margin-left: 10px;
    }
  }
  &NumberBooks {
    @media (max-width: @mobXS) {
      margin-bottom: 20px;
    }
  }
  &PieContainer {
    .flex-wrap();
    position: relative;
    z-index: 2;
    margin-bottom: 40px;
  }
  &LineContainer {
    position: relative;
    z-index: 2;
  }
  &LineChart {
    margin-bottom: 40px;
  }
  &PieChart {
    width: 50%;
    @media (max-width: @mobXL) {
      width: 100%;
      &:first-of-type {
        margin-bottom: 40px;
      }
    }
  }
}
