#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
}
#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}
.sectionParticles {
  background: #161616;
  color: #cdcdcd;
  padding-top: 75px;
  height: 95vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sectionParticlesTyped {
  position: relative;
  z-index: 2;
  margin-bottom: 35px;
  color: #ffffff;
  display: inline-block;
}
/*Add custom cursor so it auto inherits font styles*/
.typed:after {
  content: '|';
  display: inline;
  animation: blink 0.7s infinite;
}
.sectionPosts {
  background: #161616;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #ffffff;
}
@media (max-width: 1023px) {
  .sectionPosts {
    padding: 120px 40px;
  }
}
@media (max-width: 768px) {
  .sectionPosts {
    padding: 120px 20px;
  }
}
.sectionPostsDesc {
  color: #cdcdcd;
  margin-top: 15px;
}
.sectionPostsCarouselContainer {
  margin-top: 50px;
  overflow: hidden;
}
.sectionPostsCarouselSpecific {
  display: flex;
  flex-wrap: nowrap;
  max-width: 731px;
  margin: 0 auto;
  white-space: nowrap;
  height: 425px;
}
@media (max-width: 1023px) {
  .sectionPostsCarouselSpecific {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .sectionPostsCarouselSpecific {
    height: 340px;
  }
}
@media (max-width: 640px) {
  .sectionPostsCarouselSpecific {
    height: 270px;
  }
}
@media (max-width: 580px) {
  .sectionPostsCarouselSpecific {
    height: 240px;
  }
}
@media (max-width: 480px) {
  .sectionPostsCarouselSpecific {
    height: 200px;
  }
}
.sectionPostsCarouselSpecificOld,
.sectionPostsCarouselSpecificNew {
  position: relative;
  flex: 0 0 100%;
  height: 100%;
}
.sectionPostsCarouselSpecificOld__el,
.sectionPostsCarouselSpecificNew__el {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  transition: 0.3s all ease-out;
  will-change: transform;
}
.sectionPostsCarouselSpecificOld__img,
.sectionPostsCarouselSpecificNew__img {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 100%;
  border: 8px solid rgba(255, 255, 255, 0.89);
  border-radius: 4px;
}
.sectionPostsCarouselSpecificNew {
  margin-left: 80px;
}
@media (max-width: 1023px) {
  .sectionPostsCarouselSpecificNew {
    display: none;
  }
}
.sectionPostsCarouselSpecificControls {
  position: relative;
  max-width: 731px;
  margin: 0 auto;
  margin-top: 25px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1023px) {
  .sectionPostsCarouselSpecificControls {
    max-width: 100%;
  }
}
.sectionPostsCarouselSpecificControls .type {
  color: #cdcdcd;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.sectionPostsCarouselSpecificControls .project {
  line-height: 14px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
.sectionPostsCarouselSpecificControls .nav .btn-next,
.sectionPostsCarouselSpecificControls .nav .btn-prew {
  transition: 0.2s all linear;
  transition: 0.2s opacity;
}
.sectionPostsCarouselSpecificControls .nav .btn-next:hover,
.sectionPostsCarouselSpecificControls .nav .btn-prew:hover {
  opacity: 0.8;
}
.sectionPostsCarouselSpecificControls .nav .btn-prew {
  margin-right: 15px;
}
.sectionSteps {
  background: #8672e1;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  color: #ffffff;
}
@media (max-width: 1023px) {
  .sectionSteps {
    padding: 120px 40px;
  }
}
@media (max-width: 768px) {
  .sectionSteps {
    padding: 120px 20px;
  }
}
.sectionStepsDesc {
  color: #cdcdcd;
  margin-top: 15px;
}
.sectionStepsContainer {
  display: flex !important;
  margin-top: 50px;
  text-align: left !important;
}
.sectionStepsContainer__step {
  text-align: center;
  margin-top: 50px;
  padding-right: 40px;
}
.sectionStepsContainer__step img {
  margin-bottom: 30px;
}
.sectionStepsContainer__step h3,
.sectionStepsContainer__step p {
  margin-bottom: 20px !important;
  line-height: 22px;
}
@media (max-width: 1023px) {
  .sectionStepsContainer__step {
    padding-right: 0;
    padding-bottom: 60px;
  }
  .sectionStepsContainer__step:last-child {
    padding-bottom: 0;
  }
}
.sectionStepsContainer__step:last-child {
  padding-right: 0;
}
.sectionStepsContainer__step_footer {
  flex-direction: row;
  display: flex;
  align-items: center;
}
.sectionStepsContainer__step_footer .number {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #651ca3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.58);
  margin-right: 20px;
}
.sectionStepsContainer__step_footer span {
  font-size: 11px;
  color: #651ca3;
  letter-spacing: 0.92px;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
}
.sectionStepsContainer__step_footer .line {
  height: 1px;
  width: 100%;
  background: #F1EEEE;
}
@media (max-width: 1023px) {
  .sectionSteps .decoration.top.right {
    height: 400px;
  }
}
@media (max-width: 1023px) {
  .sectionSteps .decoration.top.right {
    width: 400px;
  }
}
.sectionStatistics {
  background: #8672e1;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #ffffff;
  position: relative;
}
.sectionStatisticsDesc {
  color: #cdcdcd;
  margin-top: 15px;
}
.sectionStatisticsContainer {
  display: flex !important;
}
.sectionStatisticsBox {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.sectionStatisticsBox img {
  margin-bottom: 20px;
}
.sectionStatisticsBox p {
  margin-bottom: 15px !important;
}
.sectionStatisticsBox div[class*='-count'] {
  width: 60%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 4px;
}
@media (max-width: 1023px) {
  .sectionStatistics .decoration.top.left {
    height: 400px;
  }
}
@media (max-width: 1023px) {
  .sectionStatistics .decoration.top.left {
    width: 400px;
  }
}
@media (max-width: 1023px) {
  .sectionStatistics .decoration.top.right {
    top: 550px;
  }
}
/*# sourceMappingURL=landing.css.map */