@import url('common/locals-var.less');
@import url('common/miksins.less');
@import url('plugin/particles.less');

.sectionParticles {
  background: @firm-color;
  color: @grey;
  padding-top: 75px;
  height: 95vh;
  position: relative;
  .flex-column-center-center();
  .t-a-center();
  &Typed {
    position: relative;
    z-index: 2;
    margin-bottom: 35px;
    color: @white;
    display: inline-block;
  }
}

/*Add custom cursor so it auto inherits font styles*/
.typed:after {
  content: '|';
  display: inline;
  animation: blink .7s infinite;
}

.sectionPosts {
  background: @firm-color;
  padding-top: 120px;
  padding-bottom: 120px;
  color: @white;
  .media-pad(@plXL, 120px, 40px);
  .media-pad(@plXS, 120px, 20px);
  &Desc {
    color: @grey;
    margin-top: 15px;
  }
  &Carousel{
    &Container{
      margin-top: 50px;
      overflow: hidden;
    }
    &Specific{
      .flex-nowrap();
      max-width: 731px;
      margin: 0 auto;
      white-space: nowrap;
      height: 425px;
      .media-max-width(@plXL, 100%);
      .media-height(@plXS, 340px);
      .media-height(@mobXL, 270px);
      .media-height(580px, 240px);
      .media-height(480px, 200px);
      &Old,
      &New{
        position: relative;
        flex: 0 0 100%;
        height: 100%;
        &__el{
          .full-abs();
          height: 100%;
          transition: 0.3s all ease-out;
          will-change: transform;
        }
        &__img{
          .cover();
          height: 100%;
          border: 8px solid rgba(255, 255, 255, 0.89);
          border-radius: 4px;
        }
      }
      &New{
        margin-left: 80px;
        .media-display(@plXL, none)
      }
      &Controls{
        position: relative;
        max-width: 731px;
        margin: 0 auto;
        margin-top: 25px;
        .flex-row-between-center();
        .media-max-width(@plXL, 100%);
        .type {
          color: @grey;
          font-size: 9px;
          line-height: 11px;
          letter-spacing: 0.75px;
          font-weight: @medium;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        .project {
          line-height: 14px;
          font-size: 11px;
          letter-spacing: 1px;
          text-transform: uppercase;
          color:@white;
        }
        .nav .btn-next,
        .nav .btn-prew {
          transition: @tr;
          .hover-standart();
        }
        .nav .btn-prew {
          margin-right: 15px;
        }
      }
    }
  }
}

.sectionSteps{
  background: @purple-light;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  color: @white;
  .media-pad(@plXL, 120px, 40px);
  .media-pad(@plXS, 120px, 20px);
  &Desc {
    color: @grey;
    margin-top: 15px;
  }
  &Container{
    .flex();
    margin-top: 50px;
    text-align: left !important;
    &__step{
      .t-a-center();
      margin-top: 50px;
      padding-right: 40px;
      img{
        margin-bottom: 30px;
      }
      h3, p{
        margin-bottom: 20px !important;
        line-height: 22px;
      }
      @media(max-width: @plXL){
        padding-right: 0;
        padding-bottom: 60px;
        &:last-child {
          padding-bottom: 0;
        }
      }
      &:last-child {
        padding-right: 0;
      }
      &_footer{
        .flex-row-center();
        .number{
          .flex-row-center-center();
          color: @purple;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.58);
          margin-right: 20px;
        }
        span{
          font-size: 11px;
          color: @purple;
          letter-spacing: 0.92px;
          text-transform: uppercase;
          position: relative;
          white-space: nowrap;
          margin-right: 20px;
        }
        .line{
          height: 1px;
          width: 100%;
          background: #F1EEEE;
        }
      }
    }
  }
  .decoration.top.right{
    .media-height(@plXL, 400px);
    .media-width(@plXL, 400px);
  }
}

.sectionStatistics {
  background: @purple-light;
  padding-top: 120px;
  padding-bottom: 120px;
  color: @white;
  position: relative;
  &Desc {
    color: @grey;
    margin-top: 15px;
  }
  &Container{
    .flex();
  }
  &Box{
    text-align: center;
    .flex-column-center();
    margin-top: 60px;
    img{
      margin-bottom: 20px;
    }
    p{
      margin-bottom: 15px !important;
    }
    div[class*='-count']{
      width: 60%;
      padding: 10px;
      background: rgba(255, 255, 255, 0.58);
      border-radius: @border;
    }
  }
  .decoration.top.left{
    .media-height(@plXL, 400px);
    .media-width(@plXL, 400px);
  }
  .decoration.top.right{
    @media(max-width: @plXL){
      top: 550px;
    }
  }
}
