@import url('common/locals-var.less');
@import url('common/miksins.less');

.form {
  &Section {
    .flex-row-center-center();
    min-height: 100vh !important;
    width: 100%;
    background: @purple-light;
    position: relative;
    .error {
      margin-top: 10px;
    }
  }
  &Box {
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 5px;
    }
  }
  &Bg {
    width: 320px;
    height: 100vh;
    padding: 20px;
    .cover();
    .flex-row-end-end();
    .media-display(@plXL, none);
    &Text {
      color: @black;
      font-style: italic;
      font-size: 15px;
      line-height: 21px;
    }
  }
  &Header {
    .flex-row-between-center();
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 20px;
    right: 20px;
    .media-pos-l-r(@plXL, 30px);
    .media-pos-l-r(@mobXS, 15px);
    &ToDo {
      .flex-row-center-center();
      p {
        font-size: 15px;
        margin-right: 20px;
        color: @black;
        .media-display(@mobXL, none);
      }
    }
  }
  &Or{
    .flex-row-center();
    color: @black;
    margin-top: 20px;
    .t-a-center();
    span{
      margin: 0 15px;
    }
  }
}
