.formSection {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh !important;
  width: 100%;
  background: #8672e1;
  position: relative;
}
.formSection .error {
  margin-top: 10px;
}
.formBox {
  margin-bottom: 20px;
}
.formBox label {
  display: block;
  margin-bottom: 5px;
}
.formBg {
  width: 320px;
  height: 100vh;
  padding: 20px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
@media (max-width: 1023px) {
  .formBg {
    display: none;
  }
}
.formBgText {
  color: #000;
  font-style: italic;
  font-size: 15px;
  line-height: 21px;
}
.formHeader {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 20px;
  right: 20px;
}
@media (max-width: 1023px) {
  .formHeader {
    left: 30px;
    right: 30px;
  }
}
@media (max-width: 480px) {
  .formHeader {
    left: 15px;
    right: 15px;
  }
}
.formHeaderToDo {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.formHeaderToDo p {
  font-size: 15px;
  margin-right: 20px;
  color: #000;
}
@media (max-width: 640px) {
  .formHeaderToDo p {
    display: none;
  }
}
.formOr {
  flex-direction: row;
  display: flex;
  align-items: center;
  color: #000;
  margin-top: 20px;
  text-align: center;
}
.formOr span {
  margin: 0 15px;
}
/*# sourceMappingURL=registration.css.map */