{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    <title>Book Worms</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/landing.css' %}">
{% endblock %}

{% block content %}
    <!-- SECTION PARTICLES -->
    <section class="sectionParticles">
        <div class="container fix-width">
            <!-- typed.js container -->
            <div class="sectionParticlesTyped">
                <h1 class="h3">
                    <span class="typewrite" data-period="2000"
                            {% trans "Hi, do U love books?" as slogan_one %}
                            {% trans "And U like statistics too?" as slogan_two %}
                            {% trans "You have come to the right place ;)" as slogan_three %}
                          data-type='[ "{{ slogan_one }}", "{{ slogan_two }}", "{{ slogan_three }}" ]'>
                        <span class="wrap"></span>
                    </span>
                </h1>
                {% if user.is_authenticated %}
                    <a href="{% url 'books' %}" class="btn btn-normal btn-xl btn-violet w-auto top-20">{% trans "Add book" %}</a>
                {% else %}
                    <a href="#" data-target="#sectionSteps" class="btn btn-normal btn-xl btn-violet w-auto top-20 scrollTo">{% trans "Watch" %}</a>
                {% endif %}
            </div>
        </div>
        {% include 'books/section/particles.html' with one_section=False %}
    </section>
    <!-- SECTION PARTICLES END -->

    <!-- SECTION STEPS -->
    <section class="sectionSteps" id="sectionSteps">
        <div class="container fix-width">

            <svg width="600" height="600" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg" class="decoration top right">
              <g transform="translate(300,300)">
                <path class="PwswZ" d="M106.9,-115.3C148.3,-92.7,198.2,-68.2,207.8,-33.7C217.4,0.8,186.6,45.4,155.5,80.9C124.4,116.4,93,142.8,51.1,171.5C9.2,200.2,-43.1,231.2,-77.9,217.1C-112.7,203.1,-130,144.1,-154.1,93.3C-178.2,42.5,-209.3,0.1,-202.3,-35C-195.3,-70.1,-150.4,-97.9,-110.3,-120.6C-70.3,-143.4,-35.1,-161.2,-1.2,-159.8C32.8,-158.4,65.6,-137.8,106.9,-115.3Z" fill="rgba(255, 255, 255, 0.10)"/>
              </g>
            </svg>

            <div class="row t-a-center">
                <h2 class="col-12 h3">{% trans '3 Steps For Perfect Book Statistics' %} </h2>
                <p class="col-12 sectionStepsDesc">{% trans 'We will calculate your statistics' %}</p>
            </div>
            <div class="row sectionStepsContainer">
                <div class="col-4 col-xl-12 sectionStepsContainer__step">
                    <img src="{% static 'img/utils/login.svg' %}" alt="{% trans 'Login'%}" title="{% trans 'Login'%}" width="45">
                    <h3>{% trans 'Register your account' %}</h3>
                    <p>{% trans 'One ease-step of registration'%}</p>
                    <div class="sectionStepsContainer__step_footer">
                        <div><span class="number">1</span></div>
                        <span>{% trans 'first step'%}</span>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-4 col-xl-12 sectionStepsContainer__step">
                    <img src="{% static 'img/utils/library.svg' %}" alt="{% trans 'Add Books'%}" title="{% trans 'Add Books'%}" width="45">
                    <h3>{% trans 'Add your books'%}</h3>
                    <p>{% trans 'Do you want remember all of your read books?'%}</p>
                    <div class="sectionStepsContainer__step_footer">
                        <div><span class="number">2</span></div>
                        <span>{% trans 'second step' %}</span>
                        <div class="line"></div>
                    </div>
                </div>
                <div class="col-4 col-xl-12 sectionStepsContainer__step">
                    <img src="{% static 'img/utils/graph.svg' %}" alt="{% trans 'Statistics'%}" title="{% trans 'Statistics'%}" width="45">
                    <h3>{% trans 'Check your statistics'%}</h3>
                    <p>{% trans 'Watch your statistics and enjoy'%}</p>
                    <div class="sectionStepsContainer__step_footer">
                        <div><span class="number">3</span></div>
                        <span>{% trans 'third step'%}</span>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION STEPS END -->

    <!-- SECTION POSTS -->
    <section class="sectionPosts">
        <div class="container">
            <div class="t-a-center">
                <h2 class="col-12 h3">{% trans 'Our Thoughts'%}</h2>
                <p class="col-12 sectionPostsDesc">{% trans 'Maybe few of interest posts?'%}</p>
            </div>
            <div class="sectionPostsCarouselContainer">
                <div class="sectionPostsCarouselSpecific">
                    <div class="sectionPostsCarouselSpecificOld">
                        <a href="https://www.instagram.com/p/B6nIq7Lnxn4/" rel="nofollow" target="_blank" class="sectionPostsCarouselSpecificOld__el" style="z-index: 7;" data-img-two="1">
                            <div class="sectionPostsCarouselSpecificOld__img" style="background: url({% static 'img/posts/1.png' %});" title=""></div>
                        </a>
                        <a href="https://www.instagram.com/p/B6nfiV_HRpp/" rel="nofollow" target="_blank" class="sectionPostsCarouselSpecificOld__el" style="z-index: 6;" data-img-two="2">
                            <div class="sectionPostsCarouselSpecificOld__img" style="background: url({% static 'img/posts/2.png' %});" title=""></div>
                        </a>
                        <a href="https://www.instagram.com/p/B6tAA31H0LT/" rel="nofollow" target="_blank" class="sectionPostsCarouselSpecificOld__el" style="z-index: 5;" data-img-two="3">
                            <div class="sectionPostsCarouselSpecificOld__img" style="background: url({% static 'img/posts/3.png' %});" title=""></div>
                        </a>
                        <a href="https://www.instagram.com/p/B9Jekz0nd8e/" rel="nofollow" target="_blank" class="sectionPostsCarouselSpecificOld__el" style="z-index: 4;" data-img-two="4">
                            <div class="sectionPostsCarouselSpecificOld__img" style="background: url({% static 'img/posts/4.png' %});" title=""></div>
                        </a>
                    </div>
                    <div class="sectionPostsCarouselSpecificNew">
                        <a href="https://www.instagram.com/p/B6nIq7Lnxn4/" rel="nofollow" class="sectionPostsCarouselSpecificNew__el" style="z-index: 6;" data-img-two="1">
                            <div class="sectionPostsCarouselSpecificOld__img" style="background: url({% static 'img/posts/2.png' %});" title=""></div>
                        </a>
                        <a href="https://www.instagram.com/p/B6nfiV_HRpp/" rel="nofollow" target="_blank" class="sectionPostsCarouselSpecificNew__el" style="z-index: 5;" data-img-two="2">
                            <div class="sectionPostsCarouselSpecificOld__img" style="background: url({% static 'img/posts/3.png' %});" title=""></div>
                        </a>
                        <a href="https://www.instagram.com/p/B9Jekz0nd8e/" rel="nofollow" target="_blank" class="sectionPostsCarouselSpecificNew__el" style="z-index: 4;" data-img-two="3">
                            <div class="sectionPostsCarouselSpecificOld__img" style="background: url({% static 'img/posts/4.png' %});" title=""></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sectionPostsCarouselSpecificControls">
                <div class="info-specific">
                    <p class="type">{% trans 'Theme'%}</p>
                    <span class="project">{% trans 'What is BookWorms'%}</span>
                </div>
                <div class="nav">
                    <a class="btn-prew disabled"><img src="{% static 'img/utils/prew.svg' %}" alt="{% trans 'Prev'%}"></a>
                    <a class="btn-next"><img src="{% static 'img/utils/next.svg' %}" alt="{% trans 'Next'%}"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION POSTS END -->

    <!-- SECTION STATISTICS -->
    <section class="sectionStatistics">
        <div class="container fix-width">

            <svg width="500" height="500" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg" class="decoration top left">
              <g transform="translate(300,300)">
                <path class="PwswZ" d="M104.2,-111.7C143.3,-91.4,188.8,-66.4,207.6,-26.7C226.4,12.9,218.4,67.2,194.1,114.7C169.8,162.1,129.2,202.8,81.2,218.1C33.2,233.4,-22.2,223.3,-55.2,193.3C-88.1,163.2,-98.6,113.1,-133.8,69.1C-168.9,25,-228.7,-12.9,-234.7,-52.1C-240.6,-91.4,-192.6,-131.9,-144.5,-150.6C-96.4,-169.2,-48.2,-166.1,-7.8,-156.8C32.6,-147.5,65.1,-132,104.2,-111.7Z" fill="rgba(255, 255, 255, 0.10)" />
              </g>
            </svg>

            <svg width="300" height="300" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg" class="decoration top right">
                <g transform="translate(300,300)">
                    <path class="GrftK" d="M141.7,-74.2C168,-36.3,162.8,27.3,133.9,82.3C105.1,137.3,52.5,183.7,6.2,180.1C-40.1,176.5,-80.3,123,-114.7,64.8C-149.2,6.5,-178.1,-56.5,-158,-90.7C-138,-125,-69,-130.5,-5.6,-127.2C57.7,-124,115.5,-112,141.7,-74.2Z" fill="rgba(255, 255, 255, 0.10)" />
                </g>
            </svg>

            <div class="row t-a-center">
                <h2 class="col-12 h3">{% trans 'User Statistics'%}</h2>
                <p class="col-12 sectionStatisticsDesc">{% trans 'Statistics all of our users'%}</p>
            </div>
            <div class="row sectionStatisticsContainer">
                <div class="col-4 col-xl-12 sectionStatisticsBox">
                    <img src="{% static 'img/utils/man.svg' %}" width="55" alt="Active Users">
                    <p class="h5">{% trans 'Active Users'%}</p>
                    <div class="h3 users-count"></div>
                </div>
                <div class="col-4 col-xl-12 sectionStatisticsBox">
                    <img src="{% static 'img/utils/book.svg' %}" width="55" alt="Added Book">
                    <p class="h5">{% trans 'Added Book'%}</p>
                    <div class="h3 books-count"></div>
                </div>
                <div class="col-4 col-xl-12 sectionStatisticsBox">
                    <img src="{% static 'img/utils/pages.svg' %}" width="55" alt="Read Pages">
                    <p class="h5">{% trans 'Read Pages'%}</p>
                    <div class="h3 pages-count"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION STATISTICS END -->

    <!-- SECTION FOOTER -->
    {% include 'footer.html' %}
    <!-- SECTION FOOTER END -->
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/landing.js' %}"></script>
    <script src="{% static 'js/plugin/typed.js' %}"></script>
    <script src="{% static 'js/plugin/numbers/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/plugin/numbers/numbers.js' %}"></script>
    <script>
        $(document).ready(function () {
          let recentScroll = false;
          $(window).scroll(function() {
            if (!recentScroll && $('.sectionStatistics').is(':visible')) {
              count_numbers_init('.users-count', {{ user_count }}, 4000);
              count_numbers_init('.books-count', {{ book_count }}, 5000);
              count_numbers_init('.pages-count', {{ page_count }}, 6000);
              recentScroll = true;
            }
          });
        });
    </script>
{% endblock %}
