.loader {
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
}
.loader-mini {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
}
.loader_Z2 {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.loader-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: white;
  height: 100vh;
  z-index: 999999;
  transition: 1s all linear;
}
.loader-cont.hide {
  z-index: -1 !important;
  background: transparent;
}
.loader-cont.hide .box-logo {
  opacity: 0;
}
/*# sourceMappingURL=animaite.css.map */