@import url('locals-var.less');
@import url('miksins.less');

// loader btn
.loader-btn { //btn
  position: absolute;
  left: ~"calc(50% - 12px)";
  top: ~"calc(50% - 12px)";
}

.loader-mini { //btn
  position: absolute;
  left: ~"calc(50% - 8px)";
  top: ~"calc(50% - 8px)";
}

.loader_Z2 { // btn
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

// loader site
.loader-cont {
  .flex-row-center-center();
  .full-fixed();
  background: @firm-color;
  height: 100vh;
  z-index: 999999;
  transition: @tr;
  .loader {
    .flex-row-center-center();
    width: 20em;
    height: 20em;
    font-size: 10px;
    position: relative;
    @media(max-width: @mobXL){
      width: 15em;
      height: 15em;
    }
  }
  .loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate 3s linear infinite;
  }
  .loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: #870abb;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0 0;
    --deg: -45deg;
    animation-direction: normal;
  }
  .loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: #9f0d0c;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0 0 0.2em;
    --deg: -135deg;
    animation-direction: revert;
  }
  .loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
  }
  .loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
    0 0 4em,
    0 0 6em,
    0 0 8em,
    0 0 10em,
    0 0 0 0.5em rgba(255, 255, 0, 0.1);
  }
}

.loader-cont.hide {
  z-index: -1 !important;
  opacity: 0;
}

// shoot animate_line
.click-here, .second, .third, .fourth{
	position: absolute;
	z-index: -1;
	width: 80px;
	height: 80px;
	border-radius: @border-circle;
    .media-display(@plXS, none);
	&.mini{
		width: 36px;
		height: 36px;
		}
	}

.click-here{
	width: 80px;
	height: 80px;
	border-radius: @border-circle;
	background: rgba(239, 56, 111, 0.05);
    left: 0;
    top: -33px;
    transform: scale(1);
    animation: click-here-1 3s infinite cubic-bezier(0, 0, 0.17, 0.5);
    &.mini{
    	width: 36px;
    	height: 36px;
		left: ~"calc(50% - 36px)";
		top: -8px;
		z-index: 0;
		}
	}

.second{
	background: rgba(252, 55, 104, 0.2);
	transform: scale(.8);
	animation: click-here-2 3s infinite cubic-bezier(0, 0, 0.17, 0.5);
	animation-delay: .1s;
	}

.third{
	background: rgba(252, 55, 104, 0.2);
	transform: scale(.6);
	animation: click-here-3 3s infinite cubic-bezier(0, 0, 0.17, 0.5);
	animation-delay: .2s;
	}

.fourth{
	background: rgba(252, 55, 104, 0.2);
	transform: scale(.3);
	}

@keyframes click-here-1{
	0%{
		transform: scale(1);
		}
	50%{
		transform: scale(.85)
		}
	100%{
		transform: scale(1)
		}
	}

@keyframes click-here-2{
	0%{
		transform: scale(.8);
		}
	50%{
		transform: scale(.65)
		}
	100%{
		transform: scale(.8)
		}
	}

@keyframes click-here-3{
	0%{
		transform: scale(.6);
		}
	50%{
		transform: scale(.45)
		}
	100%{
		transform: scale(.6)
		}
	}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}

/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.PwswZ {
  transform: skewY(5deg) scale(1);
  animation-name: gcRPJT;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes gcRPJT {
  50% {
    transform: skewY(23deg) scale(.95);
  }
  100% {
    transform: skewY(5deg) scale(1);
  }
}

.GrftK {
  transform: skewX(-10deg);
  animation-name: sdRTG;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes sdRTG {
  25% {
    transform: skewY(-5deg) skewX(-20deg);
  }
  50% {
    transform: skewY(5deg) skewX(-25deg);
  }
  75% {
    transform: skewY(-10deg) skewX(-15deg);
  }
  100% {
    transform: skewX(-10deg);
  }
}

/* Animate the logo background shapes */
#background path {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#background path:nth-of-type(2n) {
  animation: rotate 20s linear infinite;
}
#background path:nth-of-type(2n + 1) {
  animation: rotate 30s linear reverse infinite;
}

@keyframes rotate {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}