* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: rgba(246, 246, 246, 0.32);
  color: #020305;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
main {
  transition: 0.2s all linear;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
}
.h1,
.h2,
.h3 {
  font-weight: 700;
}
.h4 {
  font-weight: 500;
}
.h1 {
  font-size: 56px !important;
  line-height: 62px !important;
}
@media (max-width: 640px) {
  .h1 {
    line-height: 44px !important;
    font-size: 36px !important;
  }
}
.h2 {
  font-size: 48px !important;
  line-height: 60px !important;
}
@media (max-width: 640px) {
  .h2 {
    font-size: 36px !important;
    line-height: 42px !important;
  }
}
.h3 {
  font-size: 36px !important;
  line-height: 48px !important;
}
@media (max-width: 640px) {
  .h3 {
    line-height: 30px !important;
    font-size: 22px !important;
  }
}
.h4 {
  font-size: 22px !important;
  line-height: 30px;
}
@media (max-width: 640px) {
  .h4 {
    font-size: 18px !important;
    line-height: 26px;
  }
}
.h5 {
  font-size: 18px !important;
  line-height: 28px;
}
@media (max-width: 640px) {
  .h5 {
    font-size: 15px !important;
    line-height: 25px;
  }
}
.h6 {
  font-size: 15px !important;
  line-height: 18px;
}
img {
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
}
p {
  margin: 0;
}
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  outline: none;
}
button {
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit !important;
  font-weight: 500;
  box-shadow: none;
  white-space: nowrap;
  border: 0;
}
input:not([type="checkbox"]),
select {
  padding: 0 15px 2px 15px;
  outline: none;
  width: 100%;
  height: 50px;
  font-size: 15px;
  letter-spacing: 0.4px;
  border: 1px solid darkgrey;
  color: #020305;
  font-family: inherit;
  border-radius: 4px;
  transition: 0.2s all ease;
}
input:not([type="checkbox"]):hover,
select:hover {
  border-color: #1fc1ef;
}
input:not([type="checkbox"]):focus,
select:focus {
  border-color: rgba(16, 31, 255, 0.74);
}
input:not([type="checkbox"])::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #96a3a9;
}
input:not([type="checkbox"]):-moz-placeholder,
select:-moz-placeholder {
  color: #96a3a9;
}
input:not([type="checkbox"])::-moz-placeholder,
select::-moz-placeholder {
  color: #96a3a9;
}
input:not([type="checkbox"]):-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #96a3a9;
}
textarea {
  padding: 12px 15px;
  outline: none;
  display: block;
  width: 100%;
  height: 140px;
  resize: none;
  border: 1px solid darkgrey;
  color: #020305;
  font-size: 16px;
  font-family: inherit;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none !important;
  transition: 0.2s all ease;
}
textarea:hover {
  border-color: #1fc1ef;
}
textarea:focus {
  border-color: rgba(16, 31, 255, 0.74);
}
textarea::-webkit-input-placeholder {
  color: #96a3a9;
}
textarea:-moz-placeholder {
  color: #96a3a9;
}
textarea::-moz-placeholder {
  color: #96a3a9;
}
textarea:-ms-input-placeholder {
  color: #96a3a9;
}
input[type=text],
input[type=email],
input[type=password] {
  -webkit-appearance: none !important;
}
section {
  margin-top: 60px;
}
/*# sourceMappingURL=base.css.map */