@import url('locals-var.less');
@import url('miksins.less');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: @white;
  color: @black;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.3px;
  font-family: 'Josefin Sans', 'Noto Sans', 'Atma', sans-serif;
  font-weight: @base-font-weight;
  min-height: 100vh;
  .media-font(@mobXS, 15px);
}

ul > li {
  list-style: none;
}

main {
  transition: @tr;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
}

.h1, .h2, .h3 {
  font-weight: @bold;
}

.h4 {
  font-weight: @medium;
}

.h1 {
  font-size: 56px !important;
  line-height: 62px !important;
  @media (max-width: @mobXL) {
    line-height: 44px !important;
    font-size: 36px !important;
  }
}

.h2 {
  font-size: 48px !important;
  line-height: 60px !important;
  @media (max-width: @mobXL) {
    font-size: 36px !important;
    line-height: 42px !important;
  }
}

.h3 {
  font-size: 34px !important;
  line-height: 48px !important;
  @media (max-width: @mobXL) {
    line-height: 30px !important;
    font-size: 20px !important;
  }
}

.h4 {
  font-size: 22px !important;
  line-height: 30px;
  @media (max-width: @mobXL) {
    font-size: 18px !important;
    line-height: 26px;
  }
}

.h5 {
  font-size: 18px !important;
  line-height: 28px;
  @media (max-width: @mobXL) {
    font-size: 15px !important;
    line-height: 25px;
  }
}

.h6 {
  font-size: 15px !important;
  line-height: 18px;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  transition: @tr;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
  border-radius: @border;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit !important;
  font-weight: @medium;
  box-shadow: none;
  white-space: nowrap;
  border: 0;
}

input:not([type="checkbox"]),
select {
  padding: 1px 15px 0 15px;
  outline: none;
  line-height: 100%;
  width: 100%;
  height: 50px;
  font-size: 15px;
  letter-spacing: .4px;
  border: @solid darkgrey;
  color: @black;
  font-family: inherit;
  border-radius: @border;
  transition: .2s all ease;
  &:hover {
    border-color: @firm-color;
  }
  &:focus {
    border-color: rgba(16, 31, 255, 0.74);
  }
  .placeholder({ color: grey; });
}

input[type="date"] {
  min-width: 95%;
}

textarea {
  padding: 12px 15px;
  outline: none;
  display: block;
  width: 100%;
  //height: 170px;
  resize: none;
  border: @solid darkgrey;
  color: @black;
  font-size: 16px;
  font-family: inherit;
  border-radius: @border;
  box-sizing: border-box;
  -webkit-appearance: none !important;
  transition: .2s all ease;
  &:hover {
    border-color: darkgrey;
  }
  &:focus {
    border-color: rgba(16, 31, 255, 0.74);
  }
  .placeholder({ color: @grey; });
}

hr {
  border: 0;
  border-top: 1px solid #484848;
  margin: 0;
  height: 1px;
  width: 100%;
}

input[type=text],
input[type=email],
input[type=password] {
  -webkit-appearance: none !important;
}