@import url('locals-var.less');
@import url('miksins.less');

.btn-normal {
  font-size: 15px;
  line-height: 20px;
  border-radius: @border;
  transition: @tr;
  color: @white;
  width: 100%;
  .media-font(@mobXL, 14px);
  &-img{
    margin-top: 20px;
    .flex-row-center-center();
    img{
      margin-left: 12px;
    }
    span{
      margin-top: 4px;
    }
  }
}

// висота 50
.btn-square {
  padding: 10px;
  width: 45px;
  height: 45px;
}

// висота 50
.btn-xl {
  padding: 17px 20px;
  width: 100%;
  height: 50px;
  @media(max-width: @mobXL){
    padding: 13.5px 17px;
    height: 45px;
  }
}

// висота 45
.btn-l {
  padding: 14px 20px;
  width: 100%;
  @media (max-width: @mobXL) {
    padding: 12px 20px;
    height: 40px;
  }
}

// висота 40
.btn-m {
  height: 40px;
  padding: 12px 20px;
  width: 100%;
}

// висота 35
.btn-s {
  height: 35px;
  padding: 9px 18px;
  width: 100%;
  line-height: 16px;
  font-size: 11px;
  letter-spacing: 1px;
}

// висота 30
.btn-xs {
  padding: 7px 14px;
  width: 100%;
}

//colors btn
.btn-violet {
  background: @purple;
  &:hover {
    background: @purple-hover;
  }
}

//colors btn
.btn-yellow {
  background: #FFDD00;
  &:hover {
    background: #ffd72e;
  }
}

.btn-midnightblue {
  background: @blue;
  &:hover {
    background: rgb(16, 32, 153);
  }
}

.btn-darkred {
  background: @maroon;
  &:hover {
    background: darkred;
  }
}

.btn-green {
  background: @green;
  &:hover {
    background: #068E11;
  }
}

.btn-yellow {
  background: @mandarin;
  &:hover {
    background: #f6b21a;
  }
}


.btn-fb {
  background: #507CC0;
  &:hover {
    background: #4276c0;
  }
}

.btn-google {
  background: #DF4930;
  &:hover {
    background: #df251f;
  }
}

//owl
.owl-carousel {
  .owl-nav {
    width: 100%;
    height: 0.1px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 0 !important;
    top: ~"calc(50% - 32px)";
    @media (max-width: @desk) {
      position: relative;
      top: 20px;
      height: auto;
      justify-content: center;
    }
  }
  .btn-next-n,
  .btn-prev-n {
    width: 50px;
    height: 50px !important;
    border-radius: @border-circle;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.13);
    background: #8c929d;
    margin-bottom: 5px;
    .flex-row-center-center();
    .hover-standart();
    img {
      width: 30px;
    }
  }

  .owl-nav .owl-prev.disabled,
  .owl-nav .owl-next.disabled {
    opacity: .5;
    pointer-events: none;
    display: block !important;
  }
  .owl-dots {
    .flex-row-center-center();
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: auto;
    .owl-dot {
      width: 8px;
      height: 8px;
      opacity: .7;
      border-radius: @border-circle;
      background: white;
      margin-right: 20px;
      transition: @tr;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        opacity: 1;
      }
      .hover-standart();
    }
  }
}

#top-section {
  .owl-nav {
    @media (max-width: @desk) {
      position: absolute;
      height: auto;
      top: ~"calc(90% - 32px)";
      justify-content: center;
    }
  }
  .btn-next-n {
    margin-right: 15px;
    img {
      transform: rotate(180deg);
      margin-left: 5px;
    }
    .hover-standart();
    @media (max-width: @desk) {
      margin-right: 0;
    }
  }
  .btn-prev-n {
    margin-left: 15px;
    img {
      margin-right: 5px;
    }
    @media (max-width: @desk) {
      margin-left: 0;
      margin-right: 25px;
    }
  }
}

.owl-product, .owl-product-page {
  .btn-next-n {
    margin-right: -25px;
    img {
      transform: rotate(180deg);
      margin-left: 5px;
    }
    .hover-standart();
    @media (max-width: @desk) {
      margin-right: 0;
    }
  }
  .btn-prev-n {
    margin-left: -25px;
    img {
      margin-right: 5px;
    }
    @media (max-width: @desk) {
      margin-left: 0;
      margin-right: 25px;
    }
  }
}