.btn-normal {
  font-size: 15px;
  border-radius: 4px;
  transition: 0.2s all linear;
}
.btn-xxxl {
  padding: 21px 34px;
  width: 100%;
  text-align: center;
}
.btn-xxl {
  padding: 18.5px 30px;
  width: 100%;
  text-align: center;
}
.btn-xl {
  height: 50px !important;
  padding: 12px 28px;
  width: 100%;
}
.btn-l {
  height: 45px;
  padding: 10px 24px;
  width: 100%;
}
.btn-m {
  height: 40px;
  padding: 12px 20px 12px 20px;
  width: 100%;
}
.btn-s {
  height: 35px;
  padding: 9px 18px;
  width: 100%;
  line-height: 16px;
  font-size: 11px;
  letter-spacing: 1px;
}
.btn-xs {
  padding: 7px 14px;
  width: 100%;
}
.btn-green {
  border: 1px solid transparent;
  background: #20B494;
  color: #ffffff;
  width: 100%;
}
.checkbox-block-slide {
  height: 40px;
}
.checkbox-block-slide .checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 10px;
  height: 10px !important;
}
.checkbox-block-slide .checkbox.no-active + label:before {
  opacity: 0.5;
}
.checkbox-block-slide .checkbox.no-active + label {
  pointer-events: none;
  cursor: default;
}
.checkbox-block-slide .checkbox.no-active + label span {
  opacity: 0.5;
}
.checkbox-block-slide .checkbox + label {
  cursor: pointer;
}
.checkbox-block-slide .checkbox + label span {
  margin-left: 20px;
  font-size: 18px;
  line-height: 20px;
}
.checkbox-block-slide .checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox-block-slide .checkbox:not(checked) + label {
  position: relative;
  padding: 11px 0 0 73px;
}
.checkbox-block-slide .checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 71px;
  width: 73px;
  height: 38px;
  border-radius: 18px;
  background: #E7EBEE;
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.05);
}
.checkbox-block-slide .checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 34px;
  height: 34px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: #ffffff;
  transition: all 0.2s;
}
.checkbox-block-slide .checkbox:not(checked) + label span {
  color: #5a6268;
}
.checkbox-block-slide .checkbox:checked + label:before {
  background: #23A4EF;
}
.checkbox-block-slide .checkbox:checked + label:after {
  left: 37px;
}
.checkbox-block-slide .checkbox:checked + label span {
  color: #020305;
}
.checkbox-block-slide.default {
  cursor: not-allowed;
}
.owl-carousel .owl-nav {
  width: 100%;
  height: 0.1px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 0 !important;
  top: calc(50% - 32px);
}
@media (max-width: 1170px) {
  .owl-carousel .owl-nav {
    position: relative;
    top: 10px;
    height: auto;
    justify-content: center;
  }
}
.owl-carousel .btn-next-n,
.owl-carousel .btn-prev-n {
  width: 50px;
  height: 50px !important;
  border-radius: 50%;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.13);
  background: #8c929d;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 0.2s opacity;
}
.owl-carousel .btn-next-n:hover,
.owl-carousel .btn-prev-n:hover {
  opacity: 0.8;
}
.owl-carousel .btn-next-n img,
.owl-carousel .btn-prev-n img {
  width: 30px;
}
.owl-carousel .owl-nav .owl-prev.disabled,
.owl-carousel .owl-nav .owl-next.disabled {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
#top-section .btn-next-n {
  margin-right: 15px;
  transition: 0.2s opacity;
}
#top-section .btn-next-n img {
  transform: rotate(180deg);
  margin-left: 5px;
}
#top-section .btn-next-n:hover {
  opacity: 0.8;
}
@media (max-width: 1170px) {
  #top-section .btn-next-n {
    margin-right: 0;
  }
}
#top-section .btn-prev-n {
  margin-left: 15px;
}
#top-section .btn-prev-n img {
  margin-right: 5px;
}
@media (max-width: 1170px) {
  #top-section .btn-prev-n {
    margin-left: 0;
    margin-right: 25px;
  }
}
.owl-product .btn-next-n {
  margin-right: -15px;
  transition: 0.2s opacity;
}
.owl-product .btn-next-n img {
  transform: rotate(180deg);
  margin-left: 5px;
}
.owl-product .btn-next-n:hover {
  opacity: 0.8;
}
@media (max-width: 1170px) {
  .owl-product .btn-next-n {
    margin-right: 0;
  }
}
.owl-product .btn-prev-n {
  margin-left: -15px;
}
.owl-product .btn-prev-n img {
  margin-right: 5px;
}
@media (max-width: 1170px) {
  .owl-product .btn-prev-n {
    margin-left: 0;
    margin-right: 25px;
  }
}
/*# sourceMappingURL=btn.css.map */