* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #000;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.3px;
  font-family: 'Josefin Sans', 'Noto Sans', 'Atma', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}
@media (max-width: 480px) {
  body {
    font-size: 15px;
  }
}
ul > li {
  list-style: none;
}
main {
  transition: 0.2s all linear;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0 !important;
  -webkit-margin-after: 0 !important;
}
.h1,
.h2,
.h3 {
  font-weight: 700;
}
.h4 {
  font-weight: 500;
}
.h1 {
  font-size: 56px !important;
  line-height: 62px !important;
}
@media (max-width: 640px) {
  .h1 {
    line-height: 44px !important;
    font-size: 36px !important;
  }
}
.h2 {
  font-size: 48px !important;
  line-height: 60px !important;
}
@media (max-width: 640px) {
  .h2 {
    font-size: 36px !important;
    line-height: 42px !important;
  }
}
.h3 {
  font-size: 34px !important;
  line-height: 48px !important;
}
@media (max-width: 640px) {
  .h3 {
    line-height: 30px !important;
    font-size: 20px !important;
  }
}
.h4 {
  font-size: 22px !important;
  line-height: 30px;
}
@media (max-width: 640px) {
  .h4 {
    font-size: 18px !important;
    line-height: 26px;
  }
}
.h5 {
  font-size: 18px !important;
  line-height: 28px;
}
@media (max-width: 640px) {
  .h5 {
    font-size: 15px !important;
    line-height: 25px;
  }
}
.h6 {
  font-size: 15px !important;
  line-height: 18px;
}
img {
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s all linear;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  outline: none;
}
button {
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit !important;
  font-weight: 500;
  box-shadow: none;
  white-space: nowrap;
  border: 0;
}
input:not([type="checkbox"]),
select {
  padding: 1px 15px 0 15px;
  outline: none;
  line-height: 100%;
  width: 100%;
  height: 50px;
  font-size: 15px;
  letter-spacing: 0.4px;
  border: 1px solid darkgrey;
  color: #000;
  font-family: inherit;
  border-radius: 4px;
  transition: 0.2s all ease;
}
input:not([type="checkbox"]):hover,
select:hover {
  border-color: #161616;
}
input:not([type="checkbox"]):focus,
select:focus {
  border-color: rgba(16, 31, 255, 0.74);
}
input:not([type="checkbox"])::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: grey;
}
input:not([type="checkbox"]):-moz-placeholder,
select:-moz-placeholder {
  color: grey;
}
input:not([type="checkbox"])::-moz-placeholder,
select::-moz-placeholder {
  color: grey;
}
input:not([type="checkbox"]):-ms-input-placeholder,
select:-ms-input-placeholder {
  color: grey;
}
input[type="date"] {
  min-width: 95%;
}
textarea {
  padding: 12px 15px;
  outline: none;
  display: block;
  width: 100%;
  resize: none;
  border: 1px solid darkgrey;
  color: #000;
  font-size: 16px;
  font-family: inherit;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none !important;
  transition: 0.2s all ease;
}
textarea:hover {
  border-color: darkgrey;
}
textarea:focus {
  border-color: rgba(16, 31, 255, 0.74);
}
textarea::-webkit-input-placeholder {
  color: #cdcdcd;
}
textarea:-moz-placeholder {
  color: #cdcdcd;
}
textarea::-moz-placeholder {
  color: #cdcdcd;
}
textarea:-ms-input-placeholder {
  color: #cdcdcd;
}
hr {
  border: 0;
  border-top: 1px solid #484848;
  margin: 0;
  height: 1px;
  width: 100%;
}
input[type=text],
input[type=email],
input[type=password] {
  -webkit-appearance: none !important;
}
.contactFixedBlock {
  z-index: 99999;
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
}
.contactFixedBlock a {
  margin-bottom: 13px;
  transition: 0.2s opacity;
}
.contactFixedBlock a:hover {
  opacity: 0.8;
}
@media (max-width: 640px) {
  .contactFixedBlock a {
    margin-bottom: 0;
    margin-left: 30px;
  }
  .contactFixedBlock a:first-child {
    margin: 0;
  }
}
@media (max-width: 640px) {
  .contactFixedBlock {
    position: absolute;
    left: 15px;
    bottom: 30px;
    flex-direction: row;
    justify-content: center;
  }
}
.btn-normal {
  font-size: 15px;
  line-height: 20px;
  border-radius: 4px;
  transition: 0.2s all linear;
  color: #ffffff;
  width: 100%;
}
@media (max-width: 640px) {
  .btn-normal {
    font-size: 14px;
  }
}
.btn-normal-img {
  margin-top: 20px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.btn-normal-img img {
  margin-left: 12px;
}
.btn-normal-img span {
  margin-top: 4px;
}
.btn-square {
  padding: 10px;
  width: 45px;
  height: 45px;
}
.btn-xl {
  padding: 17px 20px;
  width: 100%;
  height: 50px;
}
@media (max-width: 640px) {
  .btn-xl {
    padding: 13.5px 17px;
    height: 45px;
  }
}
.btn-l {
  padding: 14px 20px;
  width: 100%;
}
@media (max-width: 640px) {
  .btn-l {
    padding: 12px 20px;
    height: 40px;
  }
}
.btn-m {
  height: 40px;
  padding: 12px 20px;
  width: 100%;
}
.btn-s {
  height: 35px;
  padding: 9px 18px;
  width: 100%;
  line-height: 16px;
  font-size: 11px;
  letter-spacing: 1px;
}
.btn-xs {
  padding: 7px 14px;
  width: 100%;
}
.btn-violet {
  background: #651ca3;
}
.btn-violet:hover {
  background: #7e23cb;
}
.btn-yellow {
  background: #FFDD00;
}
.btn-yellow:hover {
  background: #ffd72e;
}
.btn-midnightblue {
  background: #232cbb;
}
.btn-midnightblue:hover {
  background: #102099;
}
.btn-darkred {
  background: #9f0d0c;
}
.btn-darkred:hover {
  background: darkred;
}
.btn-green {
  background: #069911;
}
.btn-green:hover {
  background: #068E11;
}
.btn-yellow {
  background: #f6c52a;
}
.btn-yellow:hover {
  background: #f6b21a;
}
.btn-fb {
  background: #507CC0;
}
.btn-fb:hover {
  background: #4276c0;
}
.btn-google {
  background: #DF4930;
}
.btn-google:hover {
  background: #df251f;
}
.owl-carousel .owl-nav {
  width: 100%;
  height: 0.1px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 0 !important;
  top: calc(50% - 32px);
}
@media (max-width: 1170px) {
  .owl-carousel .owl-nav {
    position: relative;
    top: 20px;
    height: auto;
    justify-content: center;
  }
}
.owl-carousel .btn-next-n,
.owl-carousel .btn-prev-n {
  width: 50px;
  height: 50px !important;
  border-radius: 50%;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.13);
  background: #8c929d;
  margin-bottom: 5px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 0.2s opacity;
}
.owl-carousel .btn-next-n:hover,
.owl-carousel .btn-prev-n:hover {
  opacity: 0.8;
}
.owl-carousel .btn-next-n img,
.owl-carousel .btn-prev-n img {
  width: 30px;
}
.owl-carousel .owl-nav .owl-prev.disabled,
.owl-carousel .owl-nav .owl-next.disabled {
  opacity: 0.5;
  pointer-events: none;
  display: block !important;
}
.owl-carousel .owl-dots {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: auto;
}
.owl-carousel .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  opacity: 0.7;
  border-radius: 50%;
  background: white;
  margin-right: 20px;
  transition: 0.2s all linear;
  transition: 0.2s opacity;
}
.owl-carousel .owl-dots .owl-dot:last-child {
  margin-right: 0;
}
.owl-carousel .owl-dots .owl-dot.active {
  opacity: 1;
}
.owl-carousel .owl-dots .owl-dot:hover {
  opacity: 0.8;
}
@media (max-width: 1170px) {
  #top-section .owl-nav {
    position: absolute;
    height: auto;
    top: calc(90% - 32px);
    justify-content: center;
  }
}
#top-section .btn-next-n {
  margin-right: 15px;
  transition: 0.2s opacity;
}
#top-section .btn-next-n img {
  transform: rotate(180deg);
  margin-left: 5px;
}
#top-section .btn-next-n:hover {
  opacity: 0.8;
}
@media (max-width: 1170px) {
  #top-section .btn-next-n {
    margin-right: 0;
  }
}
#top-section .btn-prev-n {
  margin-left: 15px;
}
#top-section .btn-prev-n img {
  margin-right: 5px;
}
@media (max-width: 1170px) {
  #top-section .btn-prev-n {
    margin-left: 0;
    margin-right: 25px;
  }
}
.owl-product .btn-next-n,
.owl-product-page .btn-next-n {
  margin-right: -25px;
  transition: 0.2s opacity;
}
.owl-product .btn-next-n img,
.owl-product-page .btn-next-n img {
  transform: rotate(180deg);
  margin-left: 5px;
}
.owl-product .btn-next-n:hover,
.owl-product-page .btn-next-n:hover {
  opacity: 0.8;
}
@media (max-width: 1170px) {
  .owl-product .btn-next-n,
  .owl-product-page .btn-next-n {
    margin-right: 0;
  }
}
.owl-product .btn-prev-n,
.owl-product-page .btn-prev-n {
  margin-left: -25px;
}
.owl-product .btn-prev-n img,
.owl-product-page .btn-prev-n img {
  margin-right: 5px;
}
@media (max-width: 1170px) {
  .owl-product .btn-prev-n,
  .owl-product-page .btn-prev-n {
    margin-left: 0;
    margin-right: 25px;
  }
}
.loader-btn {
  position: absolute;
  left: calc(50% - 12px);
  top: calc(50% - 12px);
}
.loader-mini {
  position: absolute;
  left: calc(50% - 8px);
  top: calc(50% - 8px);
}
.loader_Z2 {
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.loader-cont {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #161616;
  height: 100vh;
  z-index: 999999;
  transition: 0.2s all linear;
}
.loader-cont .loader {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20em;
  height: 20em;
  font-size: 10px;
  position: relative;
}
@media (max-width: 640px) {
  .loader-cont .loader {
    width: 15em;
    height: 15em;
  }
}
.loader-cont .loader .face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 3s linear infinite;
}
.loader-cont .loader .face:nth-child(1) {
  width: 100%;
  height: 100%;
  color: #870abb;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2em 0.2em 0 0;
  --deg: -45deg;
  animation-direction: normal;
}
.loader-cont .loader .face:nth-child(2) {
  width: 70%;
  height: 70%;
  color: #9f0d0c;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2em 0 0 0.2em;
  --deg: -135deg;
  animation-direction: revert;
}
.loader-cont .loader .face .circle {
  position: absolute;
  width: 50%;
  height: 0.1em;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}
.loader-cont .loader .face .circle::before {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  content: '';
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
}
.loader-cont.hide {
  z-index: -1 !important;
  opacity: 0;
}
.click-here,
.second,
.third,
.fourth {
  position: absolute;
  z-index: -1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .click-here,
  .second,
  .third,
  .fourth {
    display: none;
  }
}
.click-here.mini,
.second.mini,
.third.mini,
.fourth.mini {
  width: 36px;
  height: 36px;
}
.click-here {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(239, 56, 111, 0.05);
  left: 0;
  top: -33px;
  transform: scale(1);
  animation: click-here-1 3s infinite cubic-bezier(0, 0, 0.17, 0.5);
}
.click-here.mini {
  width: 36px;
  height: 36px;
  left: calc(50% - 36px);
  top: -8px;
  z-index: 0;
}
.second {
  background: rgba(252, 55, 104, 0.2);
  transform: scale(0.8);
  animation: click-here-2 3s infinite cubic-bezier(0, 0, 0.17, 0.5);
  animation-delay: 0.1s;
}
.third {
  background: rgba(252, 55, 104, 0.2);
  transform: scale(0.6);
  animation: click-here-3 3s infinite cubic-bezier(0, 0, 0.17, 0.5);
  animation-delay: 0.2s;
}
.fourth {
  background: rgba(252, 55, 104, 0.2);
  transform: scale(0.3);
}
@keyframes click-here-1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes click-here-2 {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.65);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes click-here-3 {
  0% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.45);
  }
  100% {
    transform: scale(0.6);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}
/*Custom cursor animation*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.PwswZ {
  transform: skewY(5deg) scale(1);
  animation-name: gcRPJT;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes gcRPJT {
  50% {
    transform: skewY(23deg) scale(0.95);
  }
  100% {
    transform: skewY(5deg) scale(1);
  }
}
.GrftK {
  transform: skewX(-10deg);
  animation-name: sdRTG;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes sdRTG {
  25% {
    transform: skewY(-5deg) skewX(-20deg);
  }
  50% {
    transform: skewY(5deg) skewX(-25deg);
  }
  75% {
    transform: skewY(-10deg) skewX(-15deg);
  }
  100% {
    transform: skewX(-10deg);
  }
}
/* Animate the logo background shapes */
#background path {
  transform-origin: 50% 50%;
  transform-box: fill-box;
}
#background path:nth-of-type(2n) {
  animation: rotate 20s linear infinite;
}
#background path:nth-of-type(2n + 1) {
  animation: rotate 30s linear reverse infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.top-0 {
  margin-top: 0 !important;
}
.top-5 {
  margin-top: 5px !important;
}
.top-10 {
  margin-top: 10px !important;
}
.top-15 {
  margin-top: 15px !important;
}
.top-20 {
  margin-top: 20px !important;
}
.top-30 {
  margin-top: 30px !important;
}
.top-40 {
  margin-top: 50px !important;
}
.top-60 {
  margin-top: 60px !important;
}
.top-100 {
  margin-top: 60px !important;
}
.bottom-20 {
  margin-bottom: 20px !important;
}
.bottom-40 {
  margin-bottom: 40px !important;
}
.bottom-60 {
  margin-bottom: 60px !important;
}
.bottom-90 {
  margin-bottom: 90px !important;
}
.right-0 {
  margin-right: 0 !important;
}
.right-0-p {
  padding-right: 0 !important;
}
.right-5 {
  margin-right: 5px !important;
}
.right-15 {
  margin-right: 15px !important;
}
.left-0 {
  margin-left: 0 !important;
}
.t-a-center {
  text-align: center;
}
.flex {
  display: flex !important;
}
.inline-flex {
  display: inline-flex !important;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap !important;
}
.flex-start {
  display: flex;
  align-items: flex-start;
}
.flex-row-end {
  display: flex;
  justify-content: flex-end;
}
.flex-row-center {
  display: flex;
  align-items: center;
}
.flex-row-between {
  display: flex;
  justify-content: space-between;
}
.flex-row-end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.flex-row-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.flex-row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.flex-row-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dsp-block {
  display: block !important;
}
.dsp-none {
  display: none !important;
}
.height-100 {
  height: 100%;
}
.w-100 {
  width: 100% !important;
}
.w-auto {
  width: auto !important;
}
.fix-width {
  width: 1170px !important;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .fix-width {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (max-width: 480px) {
  .fix-width {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (max-width: 1170px) {
  .fix-width {
    width: 100% !important;
  }
}
.fix-width-dashboard {
  width: 600px !important;
  margin: 0 auto;
}
@media (max-width: 1170px) {
  .fix-width-dashboard {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (max-width: 480px) {
  .fix-width-dashboard {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (max-width: 1170px) {
  .fix-width-dashboard {
    width: 100% !important;
  }
}
.fix-width-form {
  width: 550px !important;
  margin: 0 auto;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
@media (max-width: 768px) {
  .fix-width-form {
    width: 100% !important;
  }
}
@media (max-width: 480px) {
  .fix-width-form {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
.abbreviation {
  position: relative;
  height: 40px;
  overflow: hidden;
}
.abbreviation:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 21px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, #ffffff 70%);
}
.b-n {
  border: none !important;
}
.nw {
  white-space: nowrap;
}
.error-b {
  border: 1px solid #FC4B4E !important;
}
.error {
  color: #FC4B4E !important;
  line-height: 21px;
}
.hidden {
  overflow: hidden;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.default-list {
  display: block;
}
.default-list li {
  margin-bottom: 15px;
  line-height: 24px;
}
.default-p {
  margin-bottom: 15px;
  line-height: 24px;
}
.years {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(255, 255, 255, 0.04);
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}
@media (max-width: 640px) {
  .years li:first-of-type {
    display: none;
  }
}
.years li {
  color: #ffffff;
  font-size: 18px;
  margin-right: 20px;
}
.years li a {
  font-size: 16px;
  padding: 11px 12px 10px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #651ca3;
  color: #651ca3;
}
.years li:last-of-type {
  margin-right: 0;
}
.years li a:hover {
  background: #7e23cb;
  color: #ffffff;
}
.years li a.active {
  color: #ffffff;
  background: #651ca3;
  pointer-events: none;
}
.p-rel {
  position: relative;
}
.full-abs {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.alert {
  padding: 12px 20px;
  color: #ffffff;
  line-height: 16px;
  display: inline-block;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  background: -webkit-linear-gradient(315deg, #11ab2d, #257ca3);
  background: linear-gradient(135deg, #11ab2d, #257ca3);
  position: fixed;
  top: 80px;
  right: 15px;
  opacity: 1;
  z-index: 2;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 2px;
  cursor: pointer;
}
@media (max-width: 640px) {
  .alert {
    top: 63px;
    right: 30px;
    line-height: 15px;
    font-size: 13px;
    padding: 8px 16px;
  }
}
.alert.off {
  top: -150px;
  opacity: 0;
}
.pagination {
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 30px 15px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.pagination .paginator {
  padding: 5px 10px;
  border-radius: 2px;
  font-size: 17px;
  color: #ffffff;
}
.pagination .paginator.active {
  background: #651ca3;
}
.pagination .paginator.disable {
  pointer-events: none;
  opacity: 0.3;
}
.pagination .paginator.next,
.pagination .paginator.prev {
  margin: 0 10px;
}
.pagination .paginator:hover {
  background: #651ca3;
}
.decoration {
  position: absolute;
  z-index: 0;
}
.decoration.top {
  top: -30px;
}
.decoration.left {
  left: 0;
}
.decoration.right {
  right: 0;
}
.decoration.bottom {
  bottom: -30px;
}
.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 1023px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333% !important;
    max-width: 8.333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}
@media (max-width: 768px) {
  .col-xs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333% !important;
    max-width: 8.333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}
.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 1023px) {
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667% !important;
    max-width: 16.666667% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}
@media (max-width: 768px) {
  .col-xs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667% !important;
    max-width: 16.666667% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}
.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 1023px) {
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25% !important;
    max-width: 25% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}
@media (max-width: 768px) {
  .col-xs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25% !important;
    max-width: 25% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}
.col-4 {
  -webkit-box-flex: 0;
  position: relative;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .col-xl-4 {
    -webkit-box-flex: 0;
    position: relative;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333% !important;
    max-width: 33.33333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  .col-xs-4 {
    -webkit-box-flex: 0;
    position: relative;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333% !important;
    max-width: 33.33333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.6666668%;
  flex: 0 0 41.6666668%;
  max-width: 41.6666668%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 1023px) {
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666668%;
    flex: 0 0 41.6666668% !important;
    max-width: 41.6666668% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}
@media (max-width: 768px) {
  .col-xs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666668%;
    flex: 0 0 41.6666668% !important;
    max-width: 41.6666668% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}
.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 1023px) {
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}
@media (max-width: 768px) {
  .col-xs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}
.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.3333333%;
  flex: 0 0 58.3333333%;
  max-width: 58.3333333%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333%;
    flex: 0 0 58.3333333% !important;
    max-width: 58.3333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667% !important;
    max-width: 66.666667% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75% !important;
    max-width: 75% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80.333333%;
  flex: 0 0 80.333333%;
  max-width: 80.333333%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80.333333%;
    flex: 0 0 80.333333% !important;
    max-width: 80.333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667% !important;
    max-width: 91.666667% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
@media (max-width: 1023px) {
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
@media (max-width: 768px) {
  .col-xs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
@media (max-width: 640px) {
  .col-xxs-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
#menuToggle {
  display: none;
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 1;
  user-select: none;
}
@media (max-width: 768px) {
  #menuToggle {
    display: block;
  }
}
@media (max-width: 480px) {
  #menuToggle {
    right: 15px;
  }
}
#menuToggle input {
  display: block;
  width: 34px;
  height: 32px;
  position: absolute;
  top: -5px;
  right: 3px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  margin: 0;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, 0px);
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: translateX(-8px);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ ul {
  transform: none;
}
#menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 8px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menuToggle span:first-child {
  transform-origin: 0 0;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0 100%;
  margin-bottom: 0;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0 100%;
}
#menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  padding: 30px;
  padding-top: 100px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  opacity: 0.8;
  background: #220d2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#menu li {
  padding: 15px 0;
  font-size: 21px;
  color: white;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  will-change: top;
  transition: 0.3s all ease-out;
  background: transparent;
}
header.active {
  background: rgba(69, 38, 209, 0.35);
}
.headerScrollLine .line {
  position: absolute;
  height: 3px;
  width: 0;
  background: pink;
}
.headerWrap {
  display: grid;
  grid-template-columns: [first] 22% auto [last] 22%;
  align-items: center;
  padding: 15px 40px;
}
@media (max-width: 1170px) {
  .headerWrap {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (max-width: 480px) {
  .headerWrap {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (max-width: 1170px) {
  .headerWrap {
    width: 100% !important;
  }
}
@media (max-width: 1023px) {
  .headerWrap {
    padding: 8px 40px;
  }
}
.headerNav {
  margin-top: 9px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  .headerNav {
    display: none;
  }
}
.headerNavLink {
  margin-right: 30px;
  color: #ffffff;
  position: relative;
}
.headerNavLink.signal {
  color: red;
}
.headerNavLink.donate img {
  transform: rotate(0);
  transition: 0.2s all linear;
  position: absolute;
  right: -27px;
  top: -4px;
}
.headerNavLink.donate:hover img {
  transform: rotate(20deg);
}
.headerNavLink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -6px;
  left: 0;
  background: #651ca3;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.2s all linear;
}
.headerNavLink:last-of-type {
  margin-right: 0;
}
.headerNavLink:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.headerToDo {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .headerToDo {
    display: none;
  }
}
.headerLogo {
  flex-direction: row;
  display: flex;
  align-items: center;
  z-index: 2;
}
.headerLogo svg {
  width: 155px;
}
.headerLogo .filled-heading {
  font-family: 'Atma', sans-serif;
  font-size: 130px;
}
.headerLogo p {
  font-family: 'Atma', sans-serif !important;
  font-weight: bold;
  font-size: 21px;
  color: #ffffff;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .headerLogo p {
    font-size: 15px;
  }
}
.headerAvaUser {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  color: #ffffff;
  background: #651ca3;
  text-transform: uppercase;
}
.headerAvaUser span {
  margin-top: 3px;
}
.headerLogin,
.headerLogout {
  color: #ffffff;
  transition: 0.2s opacity;
}
.headerLogin:hover,
.headerLogout:hover {
  opacity: 0.8;
}
.headerLogin {
  margin-right: 20px;
}
@media (max-width: 480px) {
  .headerLogin {
    margin-right: 15px;
  }
}
.headerLanguageButton {
  margin-top: 7px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #161616;
  padding: 30px 0 35px 0;
  color: #ffffff;
}
@media (max-width: 640px) {
  footer {
    padding-bottom: 80px;
  }
}
.footerContacts {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
/*# sourceMappingURL=common.css.map */