@import url('locals-var.less');
@import url('miksins.less');

.contactFixedBlock{
  z-index: 99999;
  position: fixed;
  right: 15px;
  bottom: 15px;
  .flex-column();
  a{
    margin-bottom: 13px;
    .hover-standart();
    @media(max-width: @mobXL){
      margin-bottom: 0;
      margin-left: 30px;
      &:first-child{
        margin: 0;
      }
    }
  }
  @media(max-width: @mobXL){
    position: absolute;
    left: 15px;
    bottom: 30px;
    flex-direction: row;
    justify-content: center;
  }
}