@green: #069911; //фірмовий зелений
@firm-color: #161616;
@black: #000;
@white: #ffffff;
@grey: #cdcdcd;
@dark-grey: #505557;
@blue : rgb(35, 44, 187);
@purple: #651ca3;
@purple-hover: #7e23cb;
@purple-light: #8672e1;//rgba(136, 136, 249, 0.65);
@mandarin: #f6c52a;
@maroon: #9f0d0c;
@error: #FC4B4E; // old #D80027;

@border-standart: 2px solid #E7EBEE;
@border: 4px;
@border-circle: 50%;
@solid: 1px solid;
@dashed: 1px dashed;
@tr: .2s all linear;

// шрифти
@regular: 400;
@medium: 500;
@bold: 700;
@base-font-weight: @regular;
@fontMob:12px;

// розширення
@desk: 1170px;
@plXL: 1023px;
@plXS: 768px;
@mobXL: 640px;
@mobXS: 480px;
