@import url('locals-var.less');
@import url('miksins.less');

// miksins
.placeholder(@rules) {
  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}

.hover-standart() {
  transition: .2s opacity;
  &:hover {
    opacity: .8;
  }
}

.t-a-center() {
  text-align: center;
}

.ellipsis() {
  min-width: 170px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cover() {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.full-abs() {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.full-fixed() {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

// flex
.flex() {
  display: flex !important;
}

.inline-flex() {
  display: inline-flex !important;
}

.flex-wrap() {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap() {
  display: flex;
  flex-wrap: nowrap;
}

.flex-start() {
  display: flex;
  align-items: flex-start;
}

.flex-row-end() {
  display: flex;
  justify-content: flex-end;
}

.flex-row-center() {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.flex-row-between() {
  display: flex;
  justify-content: space-between;
}

.flex-row-end-end() {
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-row-between-center() {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-evently-center() {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-row-between-end() {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-row-center-center() {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-row-center-end() {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-row-reverse() {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column() {
  display: flex;
  flex-direction: column;
}

.flex-column-start() {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-column-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column-center-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column-center-end() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flex-column-end() {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-column-between() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loaderDivMixin() {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
}

.media-display(@n, @d) {
  @media (max-width: @n) {
    display: @d;
  }
}

.media-width(@n, @d) {
  @media (max-width: @n) {
    width: @d;
  }
}

.media-max-width(@n, @d) {
  @media (max-width: @n) {
    max-width: @d;
  }
}

.media-height(@n, @d) {
  @media (max-width: @n) {
    height: @d;
  }
}

.media-m-r(@n, @m) {
  @media (max-width: @n) {
    margin-right: @m;
  }
}

.media-m-t(@n, @m) {
  @media (max-width: @n) {
    margin-top: @m;
  }
}

.media-pos-l-r(@n, @l-r) {
  @media (max-width: @n) {
    left: @l-r;
    right: @l-r;
  }
}

.media-pad(@n, @p, @p2) {
  @media (max-width: @n) {
    padding: @p @p2;
  }
}

.media-font(@n, @f) {
  @media (max-width: @n) {
    font-size: @f;
  }
}

.default-media-width() {
  @media (max-width: 1170px) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  @media (max-width: @mobXS) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  @media (max-width: @desk) {
    width: 100% !important;
  }
}