.top-0 {
  margin-top: 0px !important;
}
.top-2 {
  margin-top: 2px !important;
}
.top-3 {
  margin-top: 3px !important;
}
.top-4 {
  margin-top: 4px !important;
}
.top-5 {
  margin-top: 5px !important;
}
.top-10 {
  margin-top: 10px !important;
}
.top-15 {
  margin-top: 15px !important;
}
.top-20 {
  margin-top: 20px !important;
}
.top-25 {
  margin-top: 25px !important;
}
.top-30 {
  margin-top: 30px !important;
}
.top-35 {
  margin-top: 35px !important;
}
.top-40 {
  margin-top: 40px !important;
}
.top-45 {
  margin-top: 45px !important;
}
.top-50 {
  margin-top: 50px !important;
}
.top-60 {
  margin-top: 60px !important;
}
.top-80 {
  margin-top: 80px !important;
}
.top-85 {
  margin-top: 85px !important;
}
.top-90 {
  margin-top: 90px !important;
}
.top-100 {
  margin-top: 60px !important;
}
.top-120 {
  margin-top: 120px !important;
}
.top-150 {
  margin-top: 150px !important;
}
.top-200 {
  margin-top: 200px !important;
}
.bottom-40 {
  margin-bottom: 40px !important;
}
.bottom-90 {
  margin-bottom: 90px !important;
}
.top-85-p {
  padding-top: 85px !important;
}
.top-130-p {
  padding-top: 130px !important;
}
.top-210-p {
  padding-top: 210px !important;
}
.right-0 {
  margin-right: 0 !important;
}
.right-5 {
  margin-right: 5px !important;
}
.right-10 {
  margin-right: 10px !important;
}
.right-15 {
  margin-right: 15px !important;
}
.right-20 {
  margin-right: 20px !important;
}
.right-40 {
  margin-right: 40px !important;
}
.right-50 {
  margin-right: 50px !important;
}
.right-60 {
  margin-right: 60px !important;
}
.right-80 {
  margin-right: 80px !important;
}
.right-105 {
  margin-right: 105px !important;
}
.right-120 {
  margin-right: 120px !important;
}
.left-0 {
  margin-left: 0px !important;
}
.left-50 {
  margin-left: 50px !important;
}
.t-a-center {
  text-align: center;
}
.flex {
  display: flex !important;
}
.inline-flex {
  display: inline-flex !important;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap !important;
}
.flex-start {
  display: flex;
  align-items: flex-start;
}
.flex-row-end {
  display: flex;
  justify-content: flex-end;
}
.flex-row-center {
  display: flex;
  align-items: center;
}
.flex-row-between {
  display: flex;
  justify-content: space-between;
}
.flex-row-end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.flex-row-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.flex-row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.flex-row-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-column-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dsp-block {
  display: block !important;
}
.dsp-none {
  display: none !important;
}
.height-100 {
  height: 100%;
}
.w-auto {
  width: auto !important;
}
.fix-width {
  width: 1170px !important;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .fix-width {
    padding: 0px 15px !important;
  }
}
@media (max-width: 1170px) {
  .fix-width {
    width: 100% !important;
  }
}
@media (max-width: 1280px) {
  .fix-width {
    padding: 0px 30px;
  }
}
.abbreviation {
  position: relative;
  height: 40px;
  overflow: hidden;
}
.abbreviation:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 21px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, #ffffff 70%);
}
.b-n {
  border: none !important;
}
.nw {
  white-space: nowrap;
}
.error-b {
  border-color: #FC4B4E !important;
}
.error {
  color: #FC4B4E !important;
}
.hidden {
  overflow: hidden;
}
/*# sourceMappingURL=modifications.css.map */