@import url('locals-var.less');
@import url('miksins.less');

// модифікатори
.top-0 {
  margin-top: 0 !important;
}

.top-5 {
  margin-top: 5px !important;
}

.top-10 {
  margin-top: 10px !important;
}

.top-15 {
  margin-top: 15px !important;
}

.top-20 {
  margin-top: 20px !important;
}

.top-30 {
  margin-top: 30px !important;
}

.top-40 {
  margin-top: 50px !important;
}

.top-60 {
  margin-top: 60px !important;
}

.top-100 {
  margin-top: 60px !important;
}

.bottom-20 {
  margin-bottom: 20px !important;
}

.bottom-40 {
  margin-bottom: 40px !important;
}

.bottom-60 {
  margin-bottom: 60px !important;
}

.bottom-90 {
  margin-bottom: 90px !important;
}

.right-0 {
  margin-right: 0 !important;
}

.right-0-p {
  padding-right: 0 !important;
}


.right-5 {
  margin-right: 5px !important;
}

.right-15 {
  margin-right: 15px !important;
}

.left-0 {
  margin-left: 0 !important;
}

.t-a-center {
  text-align: center;
}

// flex
.flex {
  display: flex !important;
}

.inline-flex {
  display: inline-flex !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap !important;
}

.flex-start {
  display: flex;
  align-items: flex-start;
}

.flex-row-end {
  display: flex;
  justify-content: flex-end;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
}

.flex-row-end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-row-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-row-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-row-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dsp-block {
  display: block !important;
}

.dsp-none {
  display: none !important;
}

.height-100 {
  height: 100%;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.fix-width {
  width: 1170px !important;
  margin: 0 auto;
  .default-media-width();
}

.fix-width-dashboard {
  width: 600px !important;
  margin: 0 auto;
  .default-media-width();
}

.fix-width-form {
  width: 550px !important;
  margin: 0 auto;
  padding-left: 30px !important;
  padding-right: 30px !important;
  @media (max-width: @plXS) {
    width: 100% !important;
  }
  @media (max-width: @mobXS) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.abbreviation {
  position: relative;
  height: 40px;
  overflow: hidden;
}

.abbreviation:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 21px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 70%);
}

.b-n {
  border: none !important;
}

.nw {
  white-space: nowrap;
}

.error-b {
  border:@solid @error !important;
}

.error {
  color: @error !important;
  line-height: 21px;
}

.hidden {
  overflow: hidden;
}

.disabled{
  opacity: .5;
  pointer-events: none;
}

.default-list {
  display: block;
  li {
    margin-bottom: 15px;
    line-height: 24px;
  }
}

.default-p {
  margin-bottom: 15px;
  line-height: 24px;
}

.years {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(255, 255, 255, 0.04);
  padding: 15px;
  border-radius: @border;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  li:first-of-type{
      .media-display(@mobXL, none);
  }
}
.years li {
  color: #ffffff;
  font-size: 18px;
  margin-right: 20px;
  a{
    font-size: 16px;
    padding: 11px 12px 10px;
    background: transparent;
    border-radius: @border;
    border: @solid @purple;
    color: @purple;
  }
}
.years li:last-of-type {
  margin-right: 0;
}
.years li a:hover {
  background: @purple-hover;
  color: @white;
}
.years li a.active {
  color: @white;
  background: @purple;
  pointer-events: none;
}

.p-rel{
    position: relative;
}

.full-abs {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.alert{
    padding: 12px 20px;
    color: @white;
    line-height: 16px;
    display: inline-block;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
    background: -webkit-linear-gradient(315deg, #11ab2d, #257ca3);
    background: linear-gradient(135deg, #11ab2d, #257ca3);
    position: fixed;
    top: 80px;
    right: 15px;
    opacity: 1;
    z-index: 2;
    transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 2px;
    cursor: pointer;
    @media(max-width: @mobXL){
      top: 63px;
      right: 30px;
      line-height: 15px;
      font-size: 13px;
      padding: 8px 16px;
    }
    &.off {
      top: -150px;
      opacity: 0;
    }
}

.pagination{
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 30px 15px;
  .flex-row-center-center();
  .paginator{
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 17px;
    color: @white;
    &.active{
      background: @purple;
    }
    &.disable{
      pointer-events: none;
      opacity: .3;
    }
    &.next,
    &.prev{
      margin: 0 10px;
    }
    &:hover{
      background: @purple;
    }
  }
}

.decoration{
  position: absolute;
  z-index: 0;
  &.top{
    top: -30px;
  }
  &.left{
    left: 0;
  }
  &.right{
    right: 0;
  }
  &.bottom{
    bottom: -30px;
  }
}
