@import url('locals-var.less');
@import url('miksins.less');

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}

.col-xl-1 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333% !important;
    max-width: 8.333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.col-xs-1 {
  @media (max-width: @plXS) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333% !important;
    max-width: 8.333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}

.col-xl-2 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667% !important;
    max-width: 16.666667% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.col-xs-2 {
  @media (max-width: @plXS) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667% !important;
    max-width: 16.666667% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}

.col-xl-3 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25% !important;
    max-width: 25% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.col-xs-3 {
  @media (max-width: @plXS) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25% !important;
    max-width: 25% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.col-4 {
  -webkit-box-flex: 0;
  position: relative;
  -ms-flex: 0 0 33.33333333%;
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.col-xl-4 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    position: relative;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333% !important;
    max-width: 33.33333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.col-xs-4 {
  @media (max-width: @plXS) {
    -webkit-box-flex: 0;
    position: relative;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333% !important;
    max-width: 33.33333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.6666668%;
  flex: 0 0 41.6666668%;
  max-width: 41.6666668%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}

.col-xl-5 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666668%;
    flex: 0 0 41.6666668% !important;
    max-width: 41.6666668% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.col-xs-5 {
  @media (max-width: @plXS) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.6666668%;
    flex: 0 0 41.6666668% !important;
    max-width: 41.6666668% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}

.col-xl-6 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.col-xs-6 {
  @media (max-width: @plXS) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50% !important;
    max-width: 50% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
  }
}

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.3333333%;
  flex: 0 0 58.3333333%;
  max-width: 58.3333333%;;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.col-xl-7 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.3333333%;
    flex: 0 0 58.3333333% !important;
    max-width: 58.3333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.col-xl-8 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667% !important;
    max-width: 66.666667% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.col-xl-9 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75% !important;
    max-width: 75% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 80.333333%;
  flex: 0 0 80.333333%;
  max-width: 80.333333%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.col-xl-10 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80.333333%;
    flex: 0 0 80.333333% !important;
    max-width: 80.333333% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.col-xl-11 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667% !important;
    max-width: 91.666667% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.col-xl-12 {
  @media (max-width: @plXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.col-xs-12 {
  @media (max-width: @plXS) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.col-xxs-12 {
  @media (max-width: @mobXL) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
