@import url('../common/locals-var.less');
@import url('../common/miksins.less');

#menuToggle {
  display: none;
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 1;
  user-select: none;
  .media-display(@plXS, block);
  @media (max-width: @mobXS) {
    right: 15px;
  }
  input {
    display: block;
    width: 34px;
    height: 32px;
    position: absolute;
    top: -5px;
    right: 3px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
    margin: 0;
    &:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, 0px);
    }
    &:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: translateX(-8px);
    }
    &:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    &:checked ~ ul {
      transform: none;
    }
  }
  span {
    display: block;
    width: 33px;
    height: 2px;
    margin-bottom: 8px;
    position: relative;
    background: @white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0;
    transition: all .5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    &:first-child {
      transform-origin: 0 0;
    }
    &:nth-last-child(2) {
      transform-origin: 0 100%;
      margin-bottom: 0;
    }
    &:nth-last-child(2) {
      transform-origin: 0 100%;
    }
  }
}

#menu {
  .full-fixed();
  padding: 30px;
  padding-top: 100px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  opacity: 0.8;
  background: #220d2b;
  .flex-column-center-center();
  li {
    padding: 15px 0;
    font-size: 21px;
    color: white;
  }
}
