@import url('../common/locals-var.less');
@import url('../common/miksins.less');

footer {
  .flex-column-center-center();
  background: @firm-color;
  padding: 30px 0 35px 0;
  color: @white;
  @media(max-width: @mobXL){
    padding-bottom: 80px;
  }
}

.footerContacts{
  margin-top: 15px;
  .flex-row-between();
}