@import url('../common/locals-var.less');
@import url('../common/miksins.less');
@import url('../units/burger-menu.less');

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  will-change: top;
  transition: .3s all ease-out;
  background: transparent;
  &.active {
    background: rgba(69, 38, 209, 0.35);
  }
}

.header {
  &ScrollLine{
    .line{
      position: absolute;
      height: 3px;
      width: 0;
      background: pink;
    }
  }
  &Wrap {
    display: grid;
    grid-template-columns: [first] 22% auto [last] 22%;
    align-items: center;
    padding: 15px 40px;
    .default-media-width();
    @media(max-width: @plXL){
      padding: 8px 40px;
    }
  }
  &Nav {
    margin-top: 9px;
    .flex-row-center-center();
    .media-display(@plXS, none);
    &Link {
      margin-right: 30px;
      color: @white;
      position: relative;
      &.signal {
        color: red;
      }
      &.donate {
        img{
          transform: rotate(0);
          transition: @tr;
          position: absolute;
          right: -27px;
          top: -4px;
        }
        &:hover{
          img{
            transform: rotate(20deg);
          }
        }
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: -6px;
        left: 0;
        background: @purple;
        visibility: hidden;
        border-radius: 5px;
        transform: scaleX(0);
        transition: @tr;
      }
      &:last-of-type {
        margin-right: 0;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
  &ToDo {
    .flex-row-center-end();
    .media-display(@plXS, none);
  }
  &Logo {
    .flex-row-center();
    z-index: 2;
    svg{
      width: 155px;
    }
    .filled-heading {
      font-family: 'Atma', sans-serif;
      font-size: 130px;
    }
    p {
      font-family: 'Atma', sans-serif !important;
      font-weight: bold;
      font-size: 21px;
      color: @white;
      margin-top: 10px;
      @media (max-width: @plXS) {
        font-size: 15px;
      }
    }
  }
  &AvaUser {
    .flex-row-center-center();
    .cover();
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: @border-circle;
    color: @white;
    background: @purple;
    text-transform: uppercase;
    span {
      margin-top: 3px;
    }
  }
  &Login,
  &Logout {
    color: @white;
    .hover-standart();
  }
  &Login {
    margin-right: 20px;
    .media-m-r(@mobXS, 15px);
  }
  &LanguageButton {
    margin-top: 7px;
  }
}
