{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
    <title>Book Worms | 404</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/404.css' %}">
{% endblock %}

{% block content %}

    <section  class="booksListSection">
        <div class="container fix-width">
            <h1 class="h1">404</h1>
            <p class="h3">{% trans "Page " %}
                <span class="booksListBadUrl h4">bookworms.fun{{ request.path }}</span>
                {% trans "not found." %}</p>
        </div>
    </section>

    {% include 'books/section/particles.html' with one_section=False %}
{% endblock %}