
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}

    {% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="all">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Create your own statistics on books and pages you read">
    <meta name="keywords"
          content="книги, книгоман, статистика, гудридс, books, statistics, bookworms, booklovers, book lovers">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#ac5bd5">
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="{% static 'img/favicon/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static 'img/favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#161616">

    <meta property="og:title" content="BookWorms"/>
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="BookWorms">
    <meta property="og:image" content="{% static 'img/registration/book_festival.png' %}"/>
    <meta property="og:description" content="Create your read statistics with BookWorms"/>

    <link href="https://fonts.googleapis.com/css?family=Atma:400,500,600,700|Josefin+Sans:400,400i,600,700|Noto+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'less/common/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'less/plugin/nice-select.css' %}">
    {% block styles %}

    {% endblock %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146994251-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-146994251-1');
    </script>

</head>
<body>

<!--LOADER-->
<div class="loader-cont">
    <div class="loader">
        <div class="face">
            <div class="circle"></div>
        </div>
        <div class="face">
            <div class="circle"></div>
        </div>
    </div>
</div>
<!--LOADER END-->

<!--HEADER-->
{% block header %}
  {% include 'header/header.html' %}
{% endblock %}
<!--HEADER END-->

<!--CONTENT-->
<main>
    {% block content %}

    {% endblock content %}

    <!-- CONTACT FIXED BLOCK -->
    <div class="contactFixedBlock">
      <a href="https://instagram.com/bookworms.fun?igshid=q0t8j40o90eh" target="_blank">
        <img src="{% static 'img/social/inst_contact.svg' %}" width="24px">
      </a>
      <a href="mailto:stepant71@gmail.com">
        <img src="{% static 'img/social/mail.svg' %}" width="24px">
      </a>
      <a href="https://www.facebook.com/bookwormsfun-108590663966952/" target="_blank">
        <img src="{% static 'img/social/fb_contact.svg' %}" width="24px">
      </a>
    </div>
    <!-- CONTACT FIXED BLOCK END -->
</main>
<!--CONTENT END-->

<!-- Django JS -->
{% block djangojs %}
    <script src="{% url 'javascript-catalog' %}" type="text/javascript" ></script>
{% endblock %}
<!-- Django JS END -->

<!--SCRIPTS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="{% static 'js/plugin/nice-select/jquery.nice-select.min.js' %}"></script>

{% block scripts %}

{% endblock %}

<script src="{% static 'js/index.js' %}"></script>
<!--SCRIPTS END-->
</body>
</html>