
{% load static %}

<!-- particles.js container -->
<div id="particles-js" class="{% if one_section %}full-abs{% endif %}">
    <canvas class="background "></canvas>
</div>

<script src="{% static 'js/plugin/particles/particles.min.js' %}"></script>
<script src="{% static 'js/plugin/particles/particles-init.js' %}"></script>