{% extends 'base.html' %}

{% load static %}
{% load template_filters %}
{% load i18n %}

{% block title %}
    <title>Book Worms | My Dashboard</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'less/dashboard.css' %}">
{% endblock %}

{% block content %}
    <section class="dashboardSection">
        <div class="container fix-width">
            <div class="flex-row-center-center">
                {% if all_years|length > 1 %}
                    <ul class="years">
                        <li>{% trans "Please check your year: " %}</li>
                        <li>
                            <a href="?year=all time"
                              {% if not current_year|is_numeric %}
                                class="active"
                              {% endif %}>{% trans "All time" %}
                            </a>
                        </li>
                        {% for year in all_years %}
                            <li>
                              <a href="?year={{ year }}" {% if year == current_year %}class="active"{% endif %}>{{ year }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="dashboardNumbers">
                <div class="dashboardNumberBooks h3">
                    <div>{% trans "Total books: " %}</div>
                    <p>0</p>
                </div>
                <div class="dashboardNumberPages h3">
                    <div>{% trans "Total pages: " %}</div>
                    <p>0</p>
                </div>
            </div>

            <div class="dashboardPieContainer">
                <div class="dashboardPieChart">
                    <embed type="image/svg+xml" src="{{ pie_chart_books|safe }}"/>
                </div>
                <div class="dashboardPieChart">
                    <embed type="image/svg+xml" src="{{ pie_chart_pages|safe }}"/>
                </div>
            </div>

            <div class="dashboardPieContainer">
              <div class="dashboardPieChart">
                <embed type="image/svg+xml" src="{{ donut_chart_type_books|safe }}"/>
              </div>
            </div>

            <div class="dashboardLineContainer">
                <div class="dashboardLineChart">
                    <embed type="image/svg+xml" src="{{ line_chart_books|safe }}"/>
                </div>
                <div class="dashboardLineChart">
                    <embed type="image/svg+xml" src="{{ line_chart_pages|safe }}"/>
                </div>
            </div>
        </div>
    </section>

    {% include 'books/section/particles.html' with one_section=False %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/plugin/numbers/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'js/plugin/numbers/numbers.js' %}"></script>
    <script>
        $(document).ready(function () {
          count_numbers_init('.dashboardNumberPages p', {{ num_pages }});
          count_numbers_init('.dashboardNumberBooks p', {{ num_books }});
        });
    </script>
{% endblock %}