.nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 4px;
	font-family: inherit;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 15px;
	font-weight: normal;
	height: 50px;
	width: 100%;
	line-height: 40px;
	outline: none;
	padding: 7px 30px 0 18px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
}

.nice-select:hover {
	border-color: #dbdbdb;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
	border-color: #999;
}

.nice-select:after {
	border-bottom: 2px solid #999;
	border-right: 2px solid #999;
	content: '';
	display: block;
	height: 5px;
	margin-top: -4px;
	pointer-events: none;
	position: absolute;
	right: 12px;
	top: 50%;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	width: 5px;
}

.nice-select.open:after {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.nice-select.open .list {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale(1) translateY(0);
	-ms-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0);
}

.nice-select .list {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
	display: block !important;
	margin-top: 4px;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	pointer-events: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform: scale(0.75) translateY(-21px);
	-ms-transform: scale(0.75) translateY(-21px);
	transform: scale(0.75) translateY(-21px);
	-webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
	z-index: 99;
}

.nice-select .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.nice-select.small .list:hover .option:not(:hover) {
	background-color: #651ca3  !important;
}

.nice-select .option {
	cursor: pointer;
	font-weight: 400;
	line-height: 40px;
	list-style: none;
	min-height: 40px;
	outline: none;
	padding-left: 18px;
	padding-right: 29px;
	text-align: left;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
	background-color: #f6f6f6;
}

.nice-select.small .option:hover,
.nice-select.small .option.focus,
.nice-select.small .option.selected.focus {
	background-color: #7e23cb;
}

.nice-select .option.selected {
	font-weight: 500;
}

.nice-select .option.disabled {
	background-color: transparent;
	color: #999;
	cursor: default;
}

.no-csspointerevents .nice-select .list {
	display: none;
}

.no-csspointerevents .nice-select.open .list {
	display: block;
}

.nice-select.small, .nice-select.small .list li{
    background: #651ca3;
    font-size: 12px;
    line-height: 25px;
    padding: 4px 25px 0 13px;
    height: 30px;
    color: white;
    font-weight: 500;
}

.nice-select.small .list {
	right: auto;
}

.nice-select.small .list .selected{
	background: #8813a3;
}

.nice-select.small:after {
	height: 4px;
	width: 4px;
}

.nice-select.small .option {
	line-height: 34px;
	min-height: 34px;
}

.nice-select.small:after {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}