canvas {
  display: block;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
}
/* ---- particles-init.js container ---- */
#particles-js {
  background-color: #161616;
  background-image: url("");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background-position: 50% 50%;
}
/*# sourceMappingURL=particles.css.map */